.section-about {
  overflow: hidden;
  padding-top: 60px;
  padding-bottom: 100px;
  .center {
    max-width: 1520px;
  }
  .left-box {
    padding: 0;
    padding-right: 20px;
    .content {
      max-width: 620px;
    }
  }
  .right-box {
    padding: 17px 0 0 0;
  }
  &.bottom-s {
    padding-bottom: 205px;
    .center {
      max-width: 745px;
    }
    .content {
      .big {
        margin-bottom: 34px;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: $font-mem-heavy;
        font-weight: $heavy;
        margin-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        text-align: center;
      }
      * {
        margin-bottom: 33px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      strong, b {
        letter-spacing: 0.04em;
        word-spacing: -0.01em;
      }
      ul {
        margin-top: -6px;
        margin-bottom: 29px;
        > li {
          padding-left: 58px;
          &:before {
            content: none;
          }
        }
      }
      li {
        margin-bottom: 12px;
        line-height: 1.85;
      }
    }
  }
}
.important-info {
  max-width: 480px;
  font-family: $font-s-ex-bold;
  font-weight: $ex-bold;
  font-size: 44px;
  letter-spacing: 0.03em;
  line-height: 1.15;
}
.blockquote-box {
  overflow: hidden;
  position: relative;
  display: block;
  padding-top: 59px;
  margin-top: 63px;
  margin-left: 2px;
  font-family: $font-mem-book;
  font-weight: $normal;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.2;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: -3px;
    width: 25px;
    height: 10px;
    background-color: $red;
    @include css3-prefix('transform', 'skew(-32deg)');
  }
  .author {
    display: block;
    margin-bottom: 4px;
    font-family: $font-mem-heavy;
    font-weight: $heavy;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    line-height: 1.2;
  }
}
.signatures-box {
  margin-top: 48px;
  text-align: center;
  p {
    margin-bottom: 20px;
    font-family: $font-s-light;
    font-weight: $light;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 18px;
  }
  img {
    display: block;
    margin: 0 auto 11px;
    max-width: 100%;
    height: auto;
  }
}
  .president-name {
    font-family: $font-mem-heavy;
    font-weight: $heavy;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    line-height: 1.2;
  }
  .president {
    margin-left: 20px;
    font-family: $font-mem-book;
    font-weight: $normal;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    color: #b51919;
  }


.section-leadership {
  position: relative;
  padding-top: 153px;
  padding-bottom: 101px;
  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    top: 0;
    background-color: #EAEAEA;
    transform-origin: 50% 50%;
    @include css3-prefix('transform', 'rotate(-9.6deg)');
  }
  .section-title {
    padding: 0 10px;
    margin-bottom: 95px;
    text-align: right;
  }
  .center {
    max-width: 1656px;
    padding: 0;
  }
}
  .leadership-list {
    overflow: hidden;
    > li {
      float: left;
      position: relative;
      width: 25%;
      padding-bottom: 25%;
      a {
        color: $white;
        text-decoration: none;
        &:hover,
        &:focus {
          .leadership-overlay {
            left: 0;
            &:after {
              background-color: rgba(205, 0, 0, 1);
              .ie & {
                background-color: rgba(205, 0, 0, 0.8);
              }
            }
          }
        }
      }
      &.separator {
        a {
          color: #000;
        }
      }
    }
  }
    .leadership-box {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      background-color: $white;
      img {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        @include css3-prefix('transform', 'translate(-50%, -50%)');
      }
    }
      .leadership-overlay {
        position: absolute;
        display: table;
        width: 100%;
        height: 100%;
        left: -100%;
        top: 0;
        padding: 53px 49px 117px;
        @include transition(.25s);
        &:after {
          position: absolute;
          z-index: 100;
          content: '';
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          mix-blend-mode: multiply;
          background-color: rgba(205, 0, 0, 0);
        }
        a.btn, .btn {
          position: absolute;
          bottom: -64px;
          left: 0;
          min-width: 252px;
          &:after {
            margin: -8px 11px 0 0px;
          }
          &.small {
            width: 100%;
            &:after {
              margin-right: -9px;
            }
          }
        }
      }
        .leadership-cell {
          position: relative;
          display: table-cell;
          width: 100%;
          height: 20px;
          vertical-align: top;
          mix-blend-mode: unset;
          z-index: 110;
        }
          .leader-header-box {
            display: block;
            position: relative;
            overflow: hidden;
            padding-bottom: 40px;
            &:after {
              position: absolute;
              content: '';
              bottom: 0;
              left: -3px;
              width: 25px;
              height: 10px;
              background-color: $white;
              @include css3-prefix('transform', 'skew(-32deg)');
            }
          }
            .name {
              margin-bottom: -2px;
              display: block;
              font-family: $font-s-ex-bold;
              font-weight: $ex-bold;
              font-size: 30px;
              line-height: 1.2;
              letter-spacing: .03em;
            }
            .info {
              display: block;
              font-family: $font-mem-book;
              font-weight: $normal;
              font-size: 24px;
              line-height: 1.2;
              letter-spacing: .02em;
            }
        .separator {
          .leadership-separator-box {
            display: table;
            width: 100%;
            height: 100%;
            padding: 53px 51px 107px 30px;
            background-color: $white;
          }
          .leadership-cell {
            vertical-align: bottom;
          }
          .leader-header-box {
            padding-bottom: 25px;
            text-align: right;
            &:after {
              left: auto;
              right: 15px;
              background-color: $red;
            }
            &:before {
              position: absolute;
              content: '';
              z-index: 1;
              bottom: 0;
              right: 37px;
              height: 10px;
              width: 8px;
              background-color: #ffffff;
            }
          }
          .name {
            display: block;
            font-family: $font-mem-heavy;
            font-weight: $heavy;
            font-size: 26px;
            line-height: 1.4;
            letter-spacing: .12em;
            text-transform: uppercase;
          }
        }

.section-customers {
  padding-top: 147px;
  padding-bottom: 203px;
  border-top: 2px solid #EAEAEA;
  .section-title {
    margin-bottom: 107px;
    text-align: center;
  }
  .center {
    max-width: 1270px;
  }
}
.customers-list {
  overflow: hidden;
  margin: 0 -45px -124px;
  > li {
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 45px;
    margin-bottom: 124px;
  }
}
  .customers-box {
    overflow: hidden;
    display:  block;
    width: 240px;
    height: 240px;
    line-height: 240px;
    background-color: #E2E2E2;
    text-align: center;
    @include border-radius(50%);
    img {
      max-width: 240px;
      height: auto;
      width: auto;
      vertical-align: middle;
    }
  }