.section-career-banner {
  overflow: hidden;
  position: relative;
  min-height: calc(100vh + 133px);
  margin-top: -76px;
  img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    @include css3-prefix('transform', 'translate(-50%, -50%)');
    opacity: 0.8;
  }
  .center {
    position: relative;
    z-index: 110;
    max-width: 1440px;
  }
  a.btn, .btn {
    min-width: 305px;
    margin-left: 3px;
  }
  a.down-arrow, .down-arrow {
    position: absolute;
    left: -28px;
    top: -194px;
  }
  &.about {
    min-height: 100vh;
    text-align: right;
    .center {
      max-width: 1500px;
    }
    .banner-table {
      height: calc(100vh + 100px);
      padding-bottom: 280px;
      &:before {
        position: absolute;
        z-index: 100;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        mix-blend-mode: multiply;
        background-color: rgba(205, 0, 0, 1);
        .ie & {
          mix-blend-mode: unset;
          background-color: rgba(205, 0, 0, 0.9);
        }
      }
      &:after {
        position: absolute;
        z-index: 110;
        content: '';
        width: 100%;
        height: 280px;
        left: 0;
        bottom: -140px;
        background-color: $white;
        transform-origin: 50% 50%;
        @include css3-prefix('transform', 'rotate(9.7deg) scale(1.2)');
      }
    }
    .banner-cell {
      vertical-align: bottom;
    }
    .banner-desc {
      font-size: 38px;
      margin-bottom: 2px;
      letter-spacing: .09em;
    }
    .banner-title {
      max-width: 100%;
      font-size: 190px;
      letter-spacing: .16em;
      position: relative;
      right: -0.25em;
    }
    .banner-bottom-box {
      overflow: hidden;
      float: none;
      max-width: 100%;
      margin-top: -15px;
      .bottom-left {
        float: left;
        text-align: left;
        padding-left: 22px;
        margin-top: 9px;
      }
      .bottom-right {
        float: right;
        margin-top: 17px;
      }
      a {
        word-spacing: 0.08em;
      }
    }
    .bottom-name {
      margin-bottom: -1px;
      font-size: 15px;
      &:before {
        content: none;
      }
    }
    .bottom-info {
      margin-bottom: 14px;
      font-size: 15px;
      word-spacing: 0.15em;
    }
  }
}
  .banner-table {
    position: relative;
    display: table;
    width: 100%;
    height: 90vh;
    padding-top: 186px;
    padding-bottom: 84px;
    &:before {
      position: absolute;
      z-index: 100;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      mix-blend-mode: multiply;
      background-color: rgba(205, 0, 0, 1);
      .ie & {
        mix-blend-mode: unset;
        background-color: rgba(205, 0, 0, 0.9);
      }
    }
  }
    .left-overlay,
    .right-overlay {
      position: absolute;
      z-index: 150;
      display: block;
      width: 50%;
      bottom: -392px;
      height: 300px;
    }
    .left-overlay {
      left: 0;
      background-color: $white;
      transform-origin: 100% 100%;
      @include css3-prefix('transform', 'rotate(6.3deg) scale(1.3)');
    }
    .right-overlay {
      right: 0;
      background-color: $white;
      transform-origin: 0 100%;
      @include css3-prefix('transform', 'rotate(-6.3deg) scale(1.3)');
    }
  //  position: absolute;
    //  overflow: hidden;
    //  width: 50%;
    //  height: 100%;
    //  top: 0;
    //  &:before {
    //    position: absolute;
    //    z-index: 100;
    //    content: '';
    //    width: 100%;
    //    height: 100%;
    //    left: 0;
    //    top: 0;
    //    mix-blend-mode: multiply;
    //    background-color: rgba(205, 0, 0, 1);
    //    .ie & {
    //      mix-blend-mode: unset;
    //      background-color: rgba(205, 0, 0, 0.9);
    //    }
    //  }
    //}
    //.left-overlay {
    //  left: 0;
    //  &:before {
    //    transform-origin: 100% 100%;
    //    @include css3-prefix('transform', 'rotate(6.3deg) scale(2)');
    //  }
    //}
    //.right-overlay {
    //  right: 0;
    //  &:before {
    //      transform-origin: 0 100%;
    //      @include css3-prefix('transform', 'rotate(-6.3deg) scale(2)');
    //  }
    //}

    .banner-cell {
      display: table-cell;
      width: 100%;
      height: 100px;
      vertical-align: top;
    }
  .anchor-list {
    margin: 0 -18px 68px;
    > li {
      a {
        position: relative;
        padding: 11px 0 11px;
        margin: 0 18px 10px;
        font-family: $font-mem-heavy;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #e69797;
        text-decoration: none;
        @include css3-prefix('transition', 'all .25s ease');
        &:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 3px;
          left: 0;
          bottom: 0;
          background-color: transparent;
          @include css3-prefix('transition', 'all .25s ease');
        }
        &:hover,
        &:focus {
          color: $white;
          &:after {
            background-color: white;
          }
        }
      }
    }
  }
  .banner-title {
    max-width: 800px;
    margin-bottom: 18px;
    font-family: $font-mem-heavy;
    font-weight: $heavy;
    font-size: 120px;
    line-height: 0.85;
    letter-spacing: .12em;
    text-transform: uppercase;
    color: $white;
  }
  .banner-desc {
    padding-left: 10px;
    margin-bottom: 36px;
    font-family: $font-mem-book;
    font-weight: $normal;
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $white;
    strong, b {
      font-family: $font-s-ex-bold;
      font-weight: $ex-bold;
    }
  }
  .about-desc {
    padding-left: 10px;
    margin-bottom: 36px;
    font-family: $font-s-light;
    font-weight: $light;
    font-size: 23px;
    line-height: 1.75;
    letter-spacing: .02em;
    color: $white;
    strong, b {
      font-family: $font-s-ex-bold;
      font-weight: $ex-bold;
    }
  }
  .banner-bottom-box {
    float: right;
    display: block;
    margin-top: 34px;
    margin-bottom: 79px;
    max-width: 280px;
    text-align: right;
    font-family: $font-s-light;
    font-weight: $light;
    line-height: 1.22;
    color: $white;
    a {
      font-family: $font-s-light;
      font-weight: $light;
      font-size: 16px;
      line-height: 1.33;
      letter-spacing: .01em;
      color: #ee8e8e;
      text-decoration: none;
      @include css3-prefix('transition', 'all .25s ease');
      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
    .bottom-name {
      position: relative;
      display: block;
      margin-bottom: 1px;
      font-size: 18px;
      letter-spacing: 0.02em;
      strong, b {
        margin-right: 15px;
        font-family: $font-s-ex-bold;
        font-weight: $ex-bold;
        letter-spacing: .12em;
      }
      &:before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        left: -27px;
        top: 1px;
        border-top: 9px solid transparent;
        border-left: 7px solid #fff;
        border-bottom: 9px solid transparent;
      }
    }
    .bottom-info {
      margin-bottom: 18px;
      font-size: 13px;
      letter-spacing: 0.02em;
      line-height: 1.7;
    }

  .banner-down-arrow {
    position: absolute;
    z-index: 120;
    display: block;
    bottom: 45px;
    left: 50%;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 19px solid #ffffff;
    @include transform(-50%, 0);
    @include css3-prefix('transition', 'all .25s ease');
    &:hover,
    &:focus {
      border-top-color: #ee8e8e;
    }
  }

.section-advancement {
  padding-top: 102px;
  padding-bottom: 100px;
  .center {
    overflow: hidden;
  }
  .left-box,
  .right-box {
    float: left;
    padding: 0;
  }
  .right-box {
    padding-left: 210px;
  }
}
  .advancement-title {
    margin-bottom: 28px;
    font-family: $font-mem-heavy;
    font-weight: $heavy;
    font-size: 24px;
    letter-spacing: .03em;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    .right-box {
      margin-bottom: 49px;
    }
  }
  .promotions-box {
    max-width: 280px;
    min-width: 260px;
  }
    .promotions-desc {
      padding: 0 10px;
      font-family: $font-s-light;
      font-weight: $light;
      font-size: 18px;
      line-height: 1.35;
      letter-spacing: .02em;
      text-align: center;
    }
    .promotions-list {
      float: right;
      margin: 0 -40px;
      > li {
        display: inline-block;
        max-width: 360px;
        min-width: 340px;
        padding: 0 40px;
        vertical-align: top;
      }
    }
      .circle-bar {
        position: relative;
        display: block;
        width: 260px;
        height: 260px;
        margin: 0 auto 28px;
      }
        .circle-value {
          position: absolute;
          display: block;
          //z-index: 200;
          //left: 0;
          //right: 0;
          top: 50%;
          left: 50%;
          margin-top: 5px;
          font-family: $font-mem-heavy;
          font-size: 60px;
          font-weight: 600;
          color: $red;
          letter-spacing: 0.02em;
          @include transform();
        }
          .cpb-main {
            @include css3-prefix('transition', 'stroke-dashoffset 3s');
            @include css3-prefix('animation-play-state', 'running');
            //-webkit-animation-play-state: running;
          }
          .cpb-second {
            @include css3-prefix('transition', 'stroke-dashoffset 4s');
            @include css3-prefix('animation-play-state', 'running');
            //-webkit-animation-play-state: running;
          }
          .cpb-third {
            @include css3-prefix('transition', 'stroke-dashoffset 5s');
            @include css3-prefix('animation-play-state', 'running');
            //-webkit-animation-play-state: running;
          }
            .progress-svg {
              transform: rotate(0deg);
            }

  .retention-wrap {
    max-width: 355px;
    padding-top: 5px;
    text-align: center;
  }
    .retention-list {
      padding-top: 22px;
      > li {
        margin-bottom: 82px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
      .retention-box {
        max-width: 355px;
        text-align: center;
          &:not(.show){
            .progress {
              width: 0 !important;
            }
          }
      }
      .retention-line {
        text-align: center;
        margin-bottom: 21px;
      }
        .progress-value {
          display: block;
          margin-bottom: 15px;
          font-family: $font-mem-heavy;
          font-weight: $heavy;
          font-size: 36px;
          letter-spacing: .03em;
          line-height: 1.2;
          text-transform: uppercase;
          color: $red;
        }
          .progress-line {
            position: relative;
            span {
              font-family: $font-mem-heavy;
              font-weight: $heavy;
              font-size: 22px;
              letter-spacing: .03em;
              line-height: 1;
              text-transform: uppercase;
            }
            .start {
              position: absolute;
              top: 50%;
              left: 0;
              padding-right: 20px;
              @include transform(-100%, - 50%);
            }
            .finish {
              position: absolute;
              top: 50%;
              right: 0;
              padding-left: 20px;
              @include transform(100%, - 50%);
            }
            .line {
              position: relative;
              z-index: 100;
              display: block;
              height: 10px;
              width: 100%;
              background-color: #EBEBEB;
              .progress {
                position: absolute;
                z-index: 110;
                height: 100%;
                width: 0;
                top: 0;
                left: 0;
                background-color: $red;
                @include css3-prefix('transition', 'all 4s ease-in-out');
              }
            }
          }



.section-what-say {
  padding-top: 100px;
  padding-bottom: 260px;
  .center {
    max-width: 1670px;
  }
  .section-title {
    margin-bottom: 94px;
    text-align: center;
    letter-spacing: 0.12em;
  }
  a.down-arrow,
  .down-arrow {
    margin-top: 76px;
    margin-right: 85px;
    float: right;
  }
}
  .what-say-list {
    margin: 0 auto -133px;
    > li {
      display: inline-block;
      width: 33%;
      margin-bottom: 133px;
      vertical-align: top;
      text-align: center;
    }
  }
    .what-say-box {
      max-width: 440px;
      margin: 0 auto;
      padding: 0 10px;
      .content {
        margin-bottom: 42px;
        font-family: $font-s-reg;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.6;
        letter-spacing: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
      .what-say-title {
        margin-bottom: 2px;
        font-family: $font-mem-heavy;
        font-weight: $heavy;
        font-size: 28px;
        line-height: 1.2;
        letter-spacing: 0.12em;
      }
      .what-name {
        display: block;
        margin-bottom: 6px;
        font-family: $font-s-light;
        font-weight: $light;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.01em;
      }
      .what-build {
        display: block;
        font-family: $font-s-ex-bold;
        font-weight: $ex-bold;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

.section-positions {
  padding-top: 146px;
  padding-bottom: 176px;
  border-top: 2px solid #EAEAEA;
  .section-title {
    margin-bottom: 78px;
  }
  .center {
    max-width: 1400px;
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .job-detail-box {
    margin-bottom: 87px;
    > * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
    .box-title {
      font-size: 34px;
    }
    .job-detail-header-box  {
      margin-bottom: 3px;
    }
    .content {
      margin-bottom: 22px;
    }
    .bnt-box a:first-child {
      padding-left: 1px;
    }
    a.right-arrow,
    .right-arrow {
      &:after {
        margin-left: 23px;
      }
    }
}

.section-careers-form {
  padding-top: 132px;
  padding-bottom: 120px;
  border-top: 2px solid #EAEAEA;
  .center {
    max-width: 1400px;
  }
  .section-title {}
  a.right-arrow,
  .right-arrow {
    margin-top: -44px;
    padding-left: 0;
    &.hide {
      display: none;
    }
  }
  a.btn, .btn {
    margin-top: 21px;
  }
}
  .career-form-box {
    max-width: 737px;
    padding-top: 64px;
  }
    .career-form-list {
      margin-bottom: 80px;
       > li {
         margin-bottom: 66px;
         &:nth-child(1) {
           margin-bottom: 55px;
         }
         &:nth-child(2) {
           margin-bottom: 60px;
         }
         &:nth-child(3) {
           margin-bottom: 66px;
         }
         &:nth-child(6) {
           margin-bottom: 68px;
         }
         &:nth-child(7) {
           margin-bottom: 69px;
         }
         &:nth-child(8) {
           margin-bottom: 71px;
         }
         &:nth-child(9) {
           margin-bottom: 53px;
         }
         &:last-child {
           margin-bottom: 0;
         }
       }
      li {
        overflow: hidden;
      }
    }
.name-row {
  margin: 0 -20px;
  > li {
    float: left;
    width: 50%;
    padding: 0 20px;
  }
}
.address-row {
  margin: 0 -20px;
  > li {
    float: left;
    width: 30%;
    padding: 0 20px;
    &:first-child {
      width: 40%;
    }
    &:nth-child(2) {
      width: 35%;
    }
    &:nth-child(3) {
      width: 25%;
    }
  }
}
.birth-row {
  margin: 0 -20px;
  > li {
    float: left;
    width: 30%;
    padding: 0 20px;
    &:first-child {
      width: 45%;
    }
    &:nth-child(2) {
      width: 27%;
    }
    &:nth-child(3) {
      width: 28%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.license-row {
  margin: 0 -20px;
  > li {
    float: left;
    width: 35%;
    padding: 0 20px;
    &:first-child {
      width: 65%;
    }
  }
}

.form-title {
  margin-bottom: 36px;
  font-family: $font-s-ex-bold;
  font-weight: $ex-bold;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.job-history-list {
  &.hide {
    display: none;
  }
  > li {
    margin-bottom: 47px;
    &:nth-child(1) {

    }
    &:nth-child(2) {
      margin-bottom: 67px;
    }
    > ul {
      margin: 0 -20px;
      > li {
        float: left;
        width: 50%;
        padding: 0 20px;
      }
    }
  }
  li {
    overflow: hidden;
  }
}
.check-box {
  display: block;
  margin-top: 45px;
}