/*fonts*/
/*fonts-weight*/
/*fonts-size*/
/*line-height*/
/*letter-spacing*/
/*colors*/
/*transition*/
/*border-radius*/
/*header */
.mobile-menu-box {
  position: fixed;
  z-index: 2;
  overflow: auto;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  bottom: 0;
  padding-top: 60px;
  background-color: #AD0000;
  background-color: rgba(173, 0, 0, 0.86);
  -webkit-transition: right  0.35s;
  -khtml-transition: right  0.35s;
  -moz-transition: right  0.35s;
  -ms-transition: right  0.35s;
  -o-transition: right  0.35s;
  transition: right  0.35s; }
  .showing .mobile-menu-box {
    right: 0; }

.mobile-menu-toggle {
  position: absolute;
  right: -5px;
  top: 0;
  height: 51px;
  width: 51px;
  vertical-align: middle;
  cursor: pointer;
  font-size: 26px; }
  .mobile-menu-toggle span:before,
  .mobile-menu-toggle span:after,
  .mobile-menu-toggle span {
    position: absolute;
    display: block;
    content: '';
    cursor: pointer;
    height: 1px;
    width: 18px;
    left: calc(50% - 15px);
    background-color: #ffffff;
    -webkit-transition: all  0.35s;
    -khtml-transition: all  0.35s;
    -moz-transition: all  0.35s;
    -ms-transition: all  0.35s;
    -o-transition: all  0.35s;
    transition: all  0.35s; }
  .mobile-menu-toggle span {
    z-index: 999999;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .mobile-menu-toggle span:before {
    top: -7px;
    width: 24px; }
  .mobile-menu-toggle span:after {
    bottom: -7px;
    width: 24px; }
  .mobile-menu-toggle.active span {
    background-color: transparent; }
  .mobile-menu-toggle.active span:before {
    -webkit-transform: rotate(45deg);
    -khtml-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    background-color: #ffffff; }
  .mobile-menu-toggle.active span:after {
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 0;
    background-color: #ffffff; }

.mobile-menu-toggle,
.mobile-menu-wrap {
  display: none; }

.mobile-menu {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px; }
  .mobile-menu > li > a {
    position: relative;
    display: inline-block;
    padding: 11px 0;
    font-family: "MrEavesModOT", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .1em;
    line-height: 1.4;
    color: #ffffff; }
  .mobile-menu > li.expanded > a {
    padding-right: 30px; }
    .mobile-menu > li.expanded > a:after {
      position: absolute;
      top: 24px;
      right: 1px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #ffffff;
      -webkit-transition: 0.35s;
      -khtml-transition: 0.35s;
      -moz-transition: 0.35s;
      -ms-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
    .mobile-menu > li.expanded > a:hover:after, .mobile-menu > li.expanded > a:focus:after {
      content: ''; }
    .mobile-menu > li.expanded > a:hover + .sub-menu, .mobile-menu > li.expanded > a:focus + .sub-menu {
      display: block; }

.sub-menu {
  display: none;
  margin-top: -5px;
  margin-bottom: 4px;
  padding-left: 15px;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .sub-menu > li a {
    display: inline-block;
    padding: 10px 0;
    font-family: "Soleil", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: .02em;
    line-height: 1.3;
    color: #ffffff; }

/*HOME*/
.homeBannerWrap {
  position: relative;
  display: table;
  width: 100%;
  margin: auto;
  top: -76px;
  padding-top: 80px;
  min-height: 500px;
  overflow: hidden; }
  .homeBannerWrap img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.homeBannerContent {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: bottom;
  padding: 0;
  padding-bottom: 152px;
  position: relative;
  max-width: none;
  left: auto;
  top: auto;
  margin: auto; }
  .homeBannerContent h1 {
    position: relative;
    display: block;
    padding-right: 50px;
    font-family: "MrEavesModOT", Arial, Verdana, Tahoma, sans-serif;
    font-size: 124px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: .88em;
    color: #fff;
    text-transform: uppercase; }
  .homeBannerContent .center {
    max-width: 1280px; }

.homeBannerSubline {
  position: relative;
  display: block;
  padding: 10px 231px 0 0;
  text-align: right;
  font-family: "MrEavesModOT", Arial, Verdana, Tahoma, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: .11em;
  line-height: 1.2em;
  color: #fff;
  text-transform: uppercase; }

/*CAREERS*/
.hide-content {
  display: none; }

.promotions-box {
  max-width: 280px;
  min-width: 260px; }

.promotions-desc {
  padding: 0 10px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: .02em;
  text-align: center; }

.promotions-list {
  float: right;
  margin: 0 -40px; }
  .promotions-list > li {
    display: inline-block;
    max-width: 360px;
    min-width: 340px;
    padding: 0 40px;
    vertical-align: top; }

.circle-bar {
  position: relative;
  display: block;
  width: 260px;
  height: 260px;
  margin: 0 auto 28px; }

.circle-value {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  font-family: "Mr Eaves Mod Heavy", "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #cd0000;
  letter-spacing: 0.02em;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.cpb-main {
  -webkit-transition: stroke-dashoffset 2s ease-in-out;
  -khtml-transition: stroke-dashoffset 2s ease-in-out;
  -moz-transition: stroke-dashoffset 2s ease-in-out;
  -ms-transition: stroke-dashoffset 2s ease-in-out;
  -o-transition: stroke-dashoffset 2s ease-in-out;
  transition: stroke-dashoffset 2s ease-in-out;
  -webkit-animation-play-state: running;
  -khtml-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

.cpb-second {
  -webkit-transition: stroke-dashoffset 3s ease-in-out;
  -khtml-transition: stroke-dashoffset 3s ease-in-out;
  -moz-transition: stroke-dashoffset 3s ease-in-out;
  -ms-transition: stroke-dashoffset 3s ease-in-out;
  -o-transition: stroke-dashoffset 3s ease-in-out;
  transition: stroke-dashoffset 3s ease-in-out;
  -webkit-animation-play-state: running;
  -khtml-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

.cpb-third {
  -webkit-transition: stroke-dashoffset 4s ease-in-out;
  -khtml-transition: stroke-dashoffset 4s ease-in-out;
  -moz-transition: stroke-dashoffset 4s ease-in-out;
  -ms-transition: stroke-dashoffset 4s ease-in-out;
  -o-transition: stroke-dashoffset 4s ease-in-out;
  transition: stroke-dashoffset 4s ease-in-out;
  -webkit-animation-play-state: running;
  -khtml-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running; }

.progress-svg {
  transform: rotate(0deg); }

.retention-box {
  max-width: 355px;
  text-align: center; }
  .retention-box:not(.show) .progress {
    width: 0 !important; }

.progress-line .line .progress {
  -webkit-transition: all 2s ease-in-out;
  -khtml-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out; }

/*footer */
.footerWrap {
  z-index: 10; }

.full-site {
  float: right;
  margin-top: 8px;
  display: none;
  font-family: "MrEavesModOT", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 8px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1em;
  line-height: 1.5;
  color: #a9a9a9; }

.footer-mobile-box .center {
  padding: 0; }

.footer-mobile-link {
  overflow: hidden;
  display: none; }
  .footer-mobile-link > li {
    float: left;
    width: 50%;
    text-align: center; }
    .footer-mobile-link > li a {
      display: block;
      font-family: "MrEavesModOT", Arial, Verdana, Tahoma, sans-serif;
      font-weight: 900;
      font-size: 16px;
      padding: 8px 0;
      color: #232323;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: .12em;
      line-height: 1.4; }
      .footer-mobile-link > li a:hover, .footer-mobile-link > li a:focus {
        color: #cd0000; }

.section-about .right-box {
  float: right; }

.input-wrap label {
  opacity: 0; }

.input-wrap .input-style:focus + label,
label.show,
.no-js .input-wrap label {
  opacity: 1; }

.project-list > li img {
  z-index: 11; }

/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1920px) {
  .section-page-title .center {
    min-height: 600px; } }
@media all and (max-width: 1800px) {
  .section-structural .center {
    padding-right: 190px; }

  .info-box {
    max-width: 325px;
    padding: 31px 25px 29px 25px; } }
@media all and (max-width: 1500px) {
  .section-structural .center {
    padding-right: 315px; }

  .info-box {
    max-width: 285px;
    padding: 31px 25px 29px 25px; }

  .fleet-wrap {
    display: table;
    width: 100%; }

  .fleet-box,
  .fleet-table-box {
    float: none;
    width: 100%; }

  .fleet-table-box {
    display: table-header-group; }

  .fleet-box {
    display: table-cell; }

  .fleet-table-list {
    padding-bottom: 20px; }

  /*------------ABOUT----------------*/
  .section-career-banner.about .banner-title {
    right: -0.2em; }

  .section-career-banner.about .banner-bottom-box .bottom-left {
    padding-left: 0; }

  .section-career-banner a.down-arrow, .section-career-banner .down-arrow {
    left: -15px; } }
@media all and (max-width: 1400px) {
  .footerColumn:first-child {
    padding-left: 0; }

  .copyrightLeft {
    padding-left: 0; }

  .project-list > li {
    height: 500px; }
    .project-list > li:nth-child(4n - 3) {
      width: 60%; }
    .project-list > li:nth-child(4n - 2) {
      width: 40%;
      padding-left: 79px;
      padding-right: 79px; }
    .project-list > li:nth-child(4n - 1) {
      width: 40%;
      height: 528px; }
    .project-list > li:nth-child(4n) {
      width: 60%;
      height: 528px;
      padding-left: 79px;
      padding-right: 79px; }
    .project-list > li:nth-last-child(1):nth-child(odd) {
      width: 100%;
      height: 636px; }
      .project-list > li:nth-last-child(1):nth-child(odd) .project-box {
        padding-left: 100px;
        padding-right: 100px; }

  .submenu-box {
    padding: 80px 10px 80px; }

  .submenu-overlay .close-overlay {
    top: 10px;
    right: 10px; } }
@media all and (max-width: 1320px) {
  .footerColumn:nth-child(1) {
    max-width: 280px; }
  .footerColumn:nth-child(2) {
    max-width: 220px; }
  .footerColumn:nth-child(3) {
    max-width: 200px; }
  .footerColumn:nth-child(4) {
    max-width: 200px; }
  .footerColumn:nth-child(5) {
    float: right;
    max-width: 230px;
    margin-right: 0; } }
@media all and (max-width: 1280px) {
  .subnav-title {
    padding-left: 0; }

  .submenu-overlay .left-box {
    padding-left: 0; }
  .submenu-overlay .right-box {
    padding-left: 40px; }

  .leadership-list {
    overflow: hidden; }
    .leadership-list > li {
      width: 33.33%;
      padding-bottom: 33.33%; }

  .siteLogo {
    margin-top: 9px;
    max-width: 300px; }
    .siteLogo img {
      max-width: 100%;
      height: auto; }

  .navigation {
    padding: 0 180px 0 300px; }

  .anchor-box a.down-arrow,
  .anchor-box .down-arrow {
    padding-left: 0; }

  .footer-box.right .anchor-box {
    padding-right: 20px; }

  .footerPageHeadline {
    font-size: 50px; }

  .footer-cell-content {
    max-width: 400px;
    margin: 0; }

  .footer-box.right .footer-cell-content {
    float: right;
    text-align: right; }
  .footer-box.right .footer-table {
    padding-left: 20px; }

  /*------------EMPLOYEE-------------*/
  .section-welcome .right-box {
    padding-left: 50px; } }
@media all and (max-width: 1199px) {
  .navigation > li > a,
  .navigationRight {
    font-size: 16px; }

  .navigationWedge::before,
  .navigationWedge:before {
    margin-left: 370px; }

  .homeBannerContent h1 {
    font-size: 100px; }

  .homeBannerSubline {
    font-size: 26px; }

  .footerHeading,
  .footerContact {
    font-size: 18px; }

  .footerNavLink {
    font-size: 14px; }

  .footerCTA {
    font-size: 17px;
    padding-right: 50px; }

  .footerMainWrap .center {
    padding-top: 40px;
    padding-bottom: 60px; }

  .footerColumn:nth-child(1) {
    max-width: 220px; }

  .footerColumn:nth-child(2) {
    max-width: 190px; }

  .footerColumn:nth-child(3) {
    max-width: 165px; }

  .copyrightRight {
    padding: 21px 0; }

  .copyrightLeft a {
    padding-left: 18px;
    padding-right: 18px; }

  .copyrightRight {
    font-size: 14px; }

  /*------------ABOUT----------------*/
  .section-career-banner.about .banner-title {
    font-size: 150px; }
  .section-career-banner.about .banner-desc {
    font-size: 34px; }

  .about-desc {
    font-size: 21px; }

  /*-----------JOB-DETAIL-----------*/
  .project-list > li {
    height: 400px !important; }

  .content.big {
    font-size: 24px;
    line-height: 1.45; }

  .section-structural {
    padding-top: 72px; }
    .section-structural .center {
      padding-right: 250px; }

  .btn-estimate-box a.btn, .btn-estimate-box .btn {
    min-width: 245px; } }
@media all and (max-width: 1080px) {
  .footerColumn:nth-child(1) {
    max-width: 245px; }
  .footerColumn:nth-child(2) {
    max-width: 200px; }
  .footerColumn:nth-child(3) {
    max-width: 180px; }
  .footerColumn:nth-child(4) {
    max-width: 175px; }
  .footerColumn:nth-child(5) {
    max-width: 190px; }
    .footerColumn:nth-child(5) .footerCTA {
      min-width: 190px; }

  .siteLogo {
    max-width: 240px; }

  .navigation {
    padding: 0 107px 0 230px; }

  .navigation > li > a, .navigationRight {
    font-size: 14px;
    padding: 21px 8px 16px; }

  .navigationWedge::before, .navigationWedge:before {
    margin-left: 280px; }

  .footer-table {
    height: 568px; }

  /*-----------JOB-DETAIL-----------*/
  .fullWrap {
    padding-top: 61px; } }
@media all and (max-width: 1024px) {
  .footer-mobile-link {
    display: block; }

  .footer-mobile-box {
    display: block; }
    .footer-mobile-box .center {
      padding: 34px 9px 30px; }

  .footerSocialWrap a:last-child {
    margin-right: 0; }

  .footerSocial {
    margin-top: 15px;
    margin-right: 8px;
    width: 23px;
    height: 23px; }
    .footerSocial i {
      line-height: 23px; }

  .footerMainWrap .center {
    padding: 33px 15px 29px; }
  .footerMainWrap .footerHeadingSmall {
    display: none;
    margin-top: -24px; }
    .footerMainWrap .footerHeadingSmall.mobile-show {
      display: block; }
  .footerMainWrap .footerContact {
    display: none; }
  .footerMainWrap .footerColumn {
    display: none; }
    .footerMainWrap .footerColumn.mobile-show {
      display: block;
      max-width: 100%;
      text-align: center; }

  .copyrightLeft a {
    font-size: 15px; }

  /*------------ABOUT----------------*/
  .section-career-banner.about .banner-title {
    font-size: 125px; }
  .section-career-banner.about .banner-desc {
    font-size: 30px; }

  .about-desc {
    max-width: 450px;
    font-size: 18px; }
    .about-desc br {
      display: none; }
    .about-desc .bottom-name {
      font-size: 13px; }
    .about-desc .bottom-info {
      margin-bottom: 6px;
      font-size: 13px; } }
@media all and (max-width: 991px) {
  .homeBannerContent h1 {
    font-size: 85px; }

  .homeBannerSubline {
    padding-right: 150px; }

  .footerPageHeadline {
    font-size: 45px; }

  .subnav > li a {
    padding-right: 30px;
    font-size: 35px; }
    .subnav > li a:after {
      top: 22px; }

  .submenu-overlay .close-overlay {
    right: 0;
    top: 0; }

  .content {
    font-size: 16px; }

  /*------------ABOUT----------------*/
  .important-info {
    font-size: 38px; }

  .blockquote-box {
    padding-top: 40px; }

  .section-about .right-box {
    padding-top: 0; }

  .section-title {
    font-size: 50px; }

  .leadership-overlay {
    padding: 20px; }

  .name {
    font-size: 25px; }

  .info {
    font-size: 20px; }

  .leadership-overlay a.btn,
  .leadership-overlay .btn {
    font-size: 16px;
    bottom: 0; }

  .separator .name {
    font-size: 20px; }

  .content .big {
    font-size: 24px; }

  .customers-list {
    margin-left: -15px;
    margin-right: -15px; }
    .customers-list > li {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 50px; }

  .customers-box {
    width: auto;
    height: auto;
    line-height: 130px; }
    .customers-box img {
      max-width: 100%;
      height: auto; }

  body:not(.home) .footer-table {
    height: 624px;
    padding-top: 70px; }

  .section-about.bottom-s {
    padding-bottom: 105px; }

  .section-customers {
    padding-top: 90px; }

  /*------------CONTACT-------------*/
  .section-contact {
    padding-top: 80px; }
    .section-contact .section-title {
      margin-bottom: 20px;
      padding-left: 0; }

  .contact-page-list > li {
    padding-left: 0; }

  /*------------EMPLOYEE-------------*/
  .section-welcome {
    padding-top: 40px; }
    .section-welcome .right-box {
      padding-left: 40px;
      padding-right: 0; }
    .section-welcome .left-box {
      padding-left: 0;
      padding-right: 20px; }

  .link-box ul > li a {
    font-size: 15px; }

  .bottom:before {
    width: 52%; }

  .bottom:after {
    width: 52%; }

  /*-----------JOB-DETAIL-----------*/
  .section-job-detail {
    padding-top: 40px; }

  a.right-arrow,
  .right-arrow {
    font-size: 18px; }
    a.right-arrow:after,
    .right-arrow:after {
      margin-top: 0; }

  .box-title {
    font-size: 45px; }

  .job-info {
    font-size: 25px; }

  .job-detail-header-box {
    margin-bottom: 25px; }

  /*-----------JOB-DETAIL-----------*/
  .section-projects + .footerWrap {
    margin-top: -60px; }

  .project-view-title {
    font-size: 32px; }

  .project-box {
    padding-left: 50px !important; }

  .project-list > li {
    height: 360px !important; }

  .info-box {
    max-width: 100%; }

  .section-structural .content ul, .section-structural .content ol {
    margin-top: 25px; }

  .section-structural.services .our-fleet .slider-title {
    margin-bottom: 34px; }

  .table-title {
    margin-bottom: 18px;
    font-size: 20px; } }
@media all and (max-width: 790px) {
  .footer-table {
    min-height: 500px;
    height: 540px; } }
@media all and (max-width: 767px) {
  .mobile-menu-toggle,
  .mobile-menu-wrap {
    display: block; }

  .navigationWrap {
    height: 51px; }
    .navigationWrap .center {
      max-width: 320px;
      padding: 0; }

  .navigationWedge::before,
  .navigationWedge:before {
    margin-left: 90px; }

  .siteLogo {
    margin-top: 4px;
    max-width: 210px; }
    .siteLogo img {
      max-width: 100%; }

  .center {
    max-width: 320px;
    padding: 0 15px; }

  .navigation,
  .navigationRight {
    display: none; }

  .homeBannerWrap + .footerWrap {
    margin-top: -192px; }

  .footer-top-list > li {
    float: none;
    width: 100%; }

  .footer-table {
    min-height: 250px;
    height: 300px;
    padding-left: 0;
    padding-right: 0; }
    .footer-box.right .footer-table {
      padding-left: 0;
      padding-right: 0;
      text-align: right; }

  .anchor-box {
    padding: 8px 0 8px;
    min-height: 72px; }
    .anchor-box a.down-arrow,
    .anchor-box .down-arrow {
      display: block;
      max-width: 320px;
      margin: 0 auto;
      padding: 44px 25px 15px 15px;
      font-size: 12px; }
      .anchor-box a.down-arrow:after,
      .anchor-box .down-arrow:after {
        top: 50px;
        right: 2px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #cd0000; }

  .footer-box.left .anchor-box a.down-arrow:after,
  .footer-box.left .anchor-box .down-arrow:after {
    right: auto;
    left: 152px; }

  .footer-box.right {
    z-index: 150;
    top: -88px; }
    .footer-box.right .anchor-box {
      padding-right: 25px; }
    .footer-box.right .footerPageHeadline {
      margin-right: 0;
      margin-left: auto; }

  .footerPageHeadline {
    max-width: 250px;
    font-size: 30px;
    letter-spacing: 0.11em; }

  .footer-box .footerPageCTA {
    margin-top: 38px;
    margin-left: 1px;
    min-width: 166px;
    font-size: 12px;
    padding: 10px 30px 7px 17px; }
    .footer-box .footerPageCTA:after {
      top: 20px;
      right: 18px;
      border-top: 7px solid transparent;
      border-left: 6px solid #fff;
      border-bottom: 7px solid transparent; }

  .footer-top {
    margin-bottom: -88px; }

  .footer-cell-content {
    margin: 0 auto;
    max-width: 320px;
    padding: 0 15px; }
    .footer-box.right .footer-cell-content {
      float: none; }

  .footerHeadingSmall {
    margin-bottom: -4px;
    font-size: 13px;
    font-weight: 900; }

  .copyrightWrap .center {
    max-width: 326px;
    padding: 5px 0 0; }

  .copyrightLeft {
    overflow: hidden;
    float: none;
    width: 100%; }
    .copyrightLeft a {
      float: left;
      width: 50%;
      font-size: 12px;
      letter-spacing: .11em; }
      .copyrightLeft a:after {
        margin: 2px 0 0 10px;
        border-top: 6px solid transparent;
        border-left: 5px solid #cd0000;
        border-bottom: 6px solid transparent; }
      .copyrightLeft a:last-child {
        padding-right: 0;
        text-align: right; }

  .copyrightRight {
    float: left;
    padding-top: 8px;
    font-size: 8px;
    letter-spacing: .07em; }
    .copyrightRight a {
      display: none; }

  .full-site {
    display: inline-block; }

  /*HOME*/
  .homeBannerContent .center {
    max-width: 320px; }
  .homeBannerContent h1 {
    margin-bottom: 6px;
    padding-right: 0;
    font-size: 35px;
    line-height: .9; }

  .homeBannerSubline {
    font-size: 16px;
    line-height: 1;
    padding: 0; }

  .footerMainWrap .center {
    max-width: 320px;
    padding: 33px 15px 29px; }
  .footerMainWrap .footerHeadingSmall {
    display: none;
    margin-top: -24px; }
    .footerMainWrap .footerHeadingSmall.mobile-show {
      display: block; }
  .footerMainWrap .footerContact {
    display: none; }
  .footerMainWrap .footerColumn {
    display: none; }
    .footerMainWrap .footerColumn.mobile-show {
      display: block;
      max-width: 100%;
      text-align: center; }

  .footer-mobile-link > li a {
    font-size: 13px; }

  body:not(.home) .footer-table {
    height: 424px;
    padding-top: 70px; }

  /*------------ABOUT----------------*/
  .section-career-banner.about {
    min-height: 400px; }
    .section-career-banner.about .center {
      max-width: 320px; }
    .section-career-banner.about .banner-desc {
      font-size: 18px;
      margin-bottom: 1px; }
    .section-career-banner.about .banner-title {
      margin-bottom: 8px;
      font-size: 55px;
      letter-spacing: .1em; }
    .section-career-banner.about .banner-bottom-box .bottom-left {
      display: none; }
    .section-career-banner.about .banner-table {
      height: 80vh;
      padding-bottom: 225px; }
      .section-career-banner.about .banner-table:after {
        left: -10px; }
  .section-career-banner a.down-arrow,
  .section-career-banner .down-arrow {
    left: -41px;
    top: -180px;
    max-width: 185px;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: .1em; }
    .section-career-banner a.down-arrow:after,
    .section-career-banner .down-arrow:after {
      top: 36px;
      right: 18px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #cd0000; }

  .about-desc {
    font-size: 14px;
    line-height: 1.35; }

  .section-about {
    position: relative;
    padding-top: 0;
    margin-top: -46px;
    z-index: 130; }
    .section-about .center {
      max-width: 320px; }
    .section-about.bottom-s {
      padding-top: 30px;
      padding-bottom: 60px;
      margin-top: 0; }
      .section-about.bottom-s .center {
        max-width: 320px; }
      .section-about.bottom-s h5 {
        font-size: 12px; }
    .section-about .left-box,
    .section-about .right-box {
      float: none;
      width: 100%;
      padding: 0; }
    .section-about .right-box {
      margin-bottom: 61px; }

  .important-info {
    font-size: 24px; }

  .blockquote-box {
    padding-top: 25px;
    margin-top: 36px;
    margin-left: 0;
    font-size: 12px;
    letter-spacing: 0.06em; }
    .blockquote-box:before {
      width: 18px;
      height: 7px; }
    .blockquote-box .author {
      margin-bottom: 1px;
      font-size: 12px; }

  .content {
    font-size: 15px;
    line-height: 1.5; }
    .content * {
      margin-bottom: 26px; }
      .content *:last-child {
        margin-bottom: 0; }
    .content h1, .content .h1style {
      font-size: 23px; }
    .content h2, .content .h2style {
      font-size: 22px; }
    .content h3, .content .h3style {
      font-size: 21px; }
    .content h4, .content .h4style {
      font-size: 20px; }
    .content h5, .content .h5style {
      font-size: 19px; }
    .content h6, .content .h6style {
      font-size: 18px; }
    .content .big {
      margin-bottom: 22px !important;
      font-size: 21px;
      line-height: 1.3; }
    .section-about.bottom-s .content ul > li {
      padding-left: 25px; }

  .section-title {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: .1em; }

  .leadership-list > li {
    width: 50%;
    padding-bottom: 50%; }

  .leadership-overlay {
    padding: 20px 10px 10px; }

  .leader-header-box {
    padding-bottom: 20px; }

  .name {
    font-size: 15px; }
    .name.name {
      font-size: 13px; }

  .info {
    font-size: 12px; }

  .leadership-overlay a.btn.small,
  .leadership-overlay .btn.small {
    font-size: 12px;
    bottom: 0;
    padding: 15px 20px 12px 15px;
    min-width: auto; }

  .separator .leadership-separator-box {
    padding: 10px; }
  .separator .leadership-cell {
    vertical-align: middle; }

  .customers-list {
    margin: 0 auto; }
    .customers-list > li {
      width: 50%;
      padding: 0 10px;
      margin-bottom: 20px; }

  .customers-box {
    width: auto;
    height: auto;
    line-height: 130px; }
    .customers-box img {
      max-width: 100%; }

  .signatures-box p {
    font-size: 15px; }

  .president,
  .president-name {
    font-size: 16px; }

  .section-leadership {
    padding-top: 102px;
    padding-bottom: 15px; }
    .section-leadership .center {
      max-width: 375px; }
    .section-leadership .section-title {
      margin-bottom: 26px;
      text-align: center; }

  .section-customers {
    padding-top: 60px;
    padding-bottom: 60px; }
    .section-customers .center {
      max-width: 320px; }
    .section-customers .section-title {
      margin-bottom: 25px; }

  /*------------CONTACT-------------*/
  .section-contact {
    padding-top: 20px;
    padding-bottom: 20px; }
    .section-contact .center {
      max-width: 320px; }

  .contact-page-list > li {
    float: none;
    width: 100%;
    padding: 0;
    margin-bottom: 80px; }
    .contact-page-list > li:last-child {
      margin-bottom: 0; }

  .input-style {
    font-size: 16px; }

  textarea.input-style {
    font-size: 16px; }

  input::-webkit-input-placeholder {
    font-size: 16px; }

  input::-moz-placeholder {
    font-size: 16px; }

  input:-ms-input-placeholder {
    font-size: 16px; }

  input:-moz-placeholder {
    font-size: 16px; }

  textarea::-webkit-input-placeholder {
    font-size: 16px; }

  textarea::-moz-placeholder {
    font-size: 16px; }

  textarea:-ms-input-placeholder {
    font-size: 16px; }

  textarea:-moz-placeholder {
    font-size: 16px; }

  .section-contact .section-title {
    margin-bottom: 20px; }

  .form-box {
    padding-top: 15px; }

  .form-list > li {
    margin-bottom: 32px; }
    .form-list > li:last-child {
      margin-bottom: 0; }

  .contact-box {
    margin-bottom: 50px; }

  a.btn, .btn {
    padding: 10px 35px 9px 30px;
    font-size: 16px; }

  .contact-title {
    font-size: 15px; }

  .contact-info {
    font-size: 22px; }

  /*------------EMPLOYEE-------------*/
  .section-page-title .center {
    min-height: 320px; }

  .section-welcome {
    padding-top: 40px; }
    .section-welcome .left-box {
      margin-bottom: 80px; }
    .section-welcome .left-box,
    .section-welcome .right-box {
      padding: 0; }

  .left-box,
  .right-box {
    float: none;
    width: 100%;
    padding: 0; }

  .page-title {
    font-size: 48px; }

  .link-box-title {
    font-size: 22px; }

  .link-box ul > li a {
    font-size: 14px; }

  .link-box {
    margin-bottom: 40px; }

  /*-----------JOB-DETAIL-----------*/
  .section-job-detail {
    padding-top: 10px; }
    .section-job-detail .center {
      max-width: 320px; }
    .section-job-detail a.btn,
    .section-job-detail .btn {
      width: 100%;
      max-width: 260px;
      min-width: auto; }
    .section-job-detail .bnt-box a {
      padding-left: 0;
      padding-top: 12px;
      padding-bottom: 12px; }

  .box-title {
    font-size: 35px; }

  .job-detail-header-box {
    margin-bottom: 10px;
    overflow: hidden; }
    .job-detail-header-box .job-info {
      padding-right: 0;
      font-size: 22px; }
    .job-detail-header-box .job-link {
      position: relative;
      right: auto;
      bottom: auto;
      float: right; }

  a.right-arrow,
  .right-arrow {
    font-size: 16px; }
    a.right-arrow:after,
    .right-arrow:after {
      margin: 3px 0 0 18px;
      border-top: 8px solid transparent;
      border-left: 7px solid #cd0000;
      border-bottom: 8px solid transparent; }

  /*-----------JOB-DETAIL-----------*/
  .fullWrap {
    padding-top: 51px; }

  .project-list {
    max-width: 320px;
    margin: 0 auto; }
    .project-list > li {
      width: 100% !important;
      height: 320px !important; }

  .project-box {
    padding: 25px 15px 25px !important; }

  .project-title {
    font-size: 16px; }
    .project-title:before {
      left: -10px;
      top: 7px;
      border-top: 6px solid transparent;
      border-left: 5px solid #fff;
      border-bottom: 6px solid transparent; }

  .project-cell .location {
    font-size: 16px; }
    .project-cell .location:before {
      width: 2px;
      height: 2px;
      left: -17px;
      top: 11px; }

  .project-view-title {
    font-size: 28px; }

  .section-projects + .footerWrap {
    margin-top: 0; }

  .project-desc {
    line-height: 1.4; }

  /*---------STRUCTURAL-FOUNDATION---------*/
  .section-structural {
    padding-top: 40px;
    padding-bottom: 40px; }
    .section-structural .center {
      max-width: 320px;
      margin: 0 auto;
      padding: 0 15px; }
    .section-structural .content ul, .section-structural .content ol {
      margin-top: 20px; }

  .btn-estimate-box {
    position: relative !important;
    top: auto !important;
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    max-width: 290px;
    margin: 0 auto; }

  .btn-estimate-box a.btn, .btn-estimate-box .btn {
    min-width: 100%; }

  .info-title {
    font-size: 18px; }

  .content.big {
    font-size: 21px;
    line-height: 1.3; }

  .box-title {
    font-size: 29px; }

  .slider-title {
    font-size: 30px; }

  .section-structural .content h1 {
    font-size: 26px; }
  .section-structural .content h2 {
    font-size: 24px; }
  .section-structural .content h3 {
    font-size: 23px; }
  .section-structural .content h4 {
    font-size: 20px; }
  .section-structural .content h5 {
    font-size: 19px; }
  .section-structural .content h6 {
    font-size: 18px; }

  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -35px;
    width: 13px;
    height: 32px; }
    .slider-popup.open .swiper-button-prev, .slider-popup.open
    .swiper-button-next {
      margin-top: -20px; }

  .swiper-button-prev {
    left: 10px; }
    .swiper-button-prev:after {
      border-top-width: 16px;
      border-right-width: 13px;
      border-bottom-width: 16px; }

  .swiper-button-next {
    right: 10px; }
    .swiper-button-next:after {
      border-top-width: 16px;
      border-left-width: 13px;
      border-bottom-width: 16px; }

  .slider-popup.open .swiper-slide img {
    padding: 0; }

  .slider-popup {
    margin-bottom: 30px; }

  .info-wrap {
    margin-bottom: 63px; }

  .info-box,
  .info-wrap {
    margin-left: 0;
    margin-right: 0; }

  .info-box {
    max-width: 100%; }

  .section-structural.services .our-fleet .slider-title {
    font-size: 28px;
    margin-bottom: 20px; }

  .section-structural.services .content.big {
    line-height: 1.3; }

  .our-fleet {
    margin-top: 55px;
    margin-bottom: 70px; }

  .fleet-list > li {
    margin-bottom: 70px; }

  .fleet-table-list > li {
    max-width: 100%;
    width: 100%;
    margin-right: 0; }
    .fleet-table-list > li:last-child {
      max-width: 100%; }
    .fleet-table-list > li table tr td:first-child {
      width: 60%; }

  .fleet-box {
    padding: 0; }

  .fleet-img-wrap {
    margin-bottom: 10px; } }
@media all and (max-width: 640px) {
  .anchor-box a.down-arrow,
  .anchor-box .down-arrow {
    padding: 27px 25px 10px 15px; }
    .anchor-box a.down-arrow:after,
    .anchor-box .down-arrow:after {
      top: 32px; }

  .footer-box.right {
    top: -75px; }

  .footer-top {
    margin-bottom: -75px; } }

/*# sourceMappingURL=correction.css.map */
