/*fonts*/
/*fonts-weight*/
/*fonts-size*/
/*line-height*/
/*letter-spacing*/
/*colors*/
/*transition*/
/*border-radius*/
/*import global styles */
/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

a {
  cursor: pointer; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: none; }

a[href^=tel], a[href^=sms], p a[href^=tel], p a[href^=sms] {
  color: inherit !important;
  text-decoration: none !important;
  cursor: default; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, p {
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

ol, ul, li {
  list-style-type: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input, textarea {
  outline: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input, textarea, select {
  outline: none; }

.clear {
  display: block;
  height: 0;
  overflow: hidden;
  clear: both; }

.center {
  position: relative;
  max-width: 1340px;
  width: 100%;
  margin: 0 auto; }

.centerContent {
  text-align: center; }

.nowrap {
  white-space: nowrap; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

html {
  width: 100%;
  height: 100%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #232323;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  width: 100%;
  height: 100%; }

#mfPreviewBar {
  display: none; }

.center {
  max-width: 1360px;
  padding: 0 10px; }

.fullWrap {
  overflow: hidden;
  padding-top: 76px; }

.disable-scroll {
  overflow: hidden !important; }
  .disable-scroll .siteLogo {
    z-index: 500; }
  .disable-scroll .navigationRight {
    z-index: 499; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.content {
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.89;
  letter-spacing: 0.02em; }
  .inverse .content {
    color: #ffffff; }
  .content * {
    margin-bottom: 40px; }
    .content *:last-child {
      margin-bottom: 0; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin-bottom: 2px;
    font-family: "Soleil Bold", "Soleil SemiBold", Arial, Verdana, Tahoma, sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em; }
  .content h2 {
    font-size: 30px; }
  .content h3 {
    font-size: 28px; }
  .content h4, .content h5, .content h6 {
    font-size: 26px; }
  .content a {
    color: #ff614c; }
    .content a:hover {
      opacity: 0.7;
      text-decoration: none; }
  .content b, .content strong {
    font-family: "Soleil SemiBold", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em; }
  .content ul {
    margin-bottom: 36px; }
    .content ul > li {
      position: relative;
      padding-left: 40px; }
      .content ul > li:before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        left: 20px;
        top: 9px;
        -webkit-border-radius: 50%;
        -khtml-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: #cd0000; }
  .content ol {
    margin-bottom: 36px; }
  .content li {
    margin-bottom: 11px;
    line-height: 1.2;
    text-align: left; }
    .content li:last-child {
      margin-bottom: 0; }
  .content blockquote {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
  .content img {
    max-width: 100%;
    height: auto; }
    .content img.alignleft {
      float: left;
      margin: 4px 12px 12px 0; }
    .content img.alignright {
      float: right;
      margin: 4px 0 12px 12px; }
    .content img.aligncenter {
      display: block;
      margin: 0 auto 12px;
      clear: both; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
a.btn, .btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 230px;
  padding: 19px 35px 14px 30px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #cd0000;
  border: 2px solid #cd0000;
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  outline: none;
  text-align: left; }
  a.btn:after, .btn:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    right: 24px;
    margin: -9px 0 0 0;
    border-top: 9px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 9px solid transparent;
    -webkit-transition: all .25s ease;
    -khtml-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  a.btn:hover, a.btn:focus, .btn:hover, .btn:focus {
    color: #cd0000;
    background: #fff; }
    a.btn:hover:after, a.btn:focus:after, .btn:hover:after, .btn:focus:after {
      border-left-color: #cd0000; }
  a.btn.inverse, .btn.inverse {
    color: #ffffff;
    border-color: #ffffff;
    background-color: transparent; }
    a.btn.inverse:hover, a.btn.inverse:focus, .btn.inverse:hover, .btn.inverse:focus {
      color: #cd0000;
      background-color: #ffffff; }

.jumpToContent {
  position: absolute;
  display: block;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 15px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
  text-decoration: none;
  background: #fff;
  z-index: -9999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0; }
  .jumpToContent:focus {
    opacity: 1;
    z-index: 9999; }

.input-style {
  display: block;
  width: 100%;
  margin: 0;
  min-height: 39px;
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  border: none;
  border-bottom: 2px solid #010101;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 6px 0;
  background-color: transparent;
  -webkit-transition: 0.35s;
  -khtml-transition: 0.35s;
  -moz-transition: 0.35s;
  -ms-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s; }
  .input-style:focus {
    padding-bottom: 5px;
    border-bottom: 3px solid #cd0000; }
  .input-style.wpcf7-not-valid, .input-style.error {
    border-color: #ff0000; }

.input-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #232323; }

textarea.input-style {
  line-height: 1.5;
  padding: 14px 18px;
  min-height: 150px;
  resize: none;
  border: 2px solid #010101; }
  textarea.input-style:focus {
    padding: 13px 17px;
    border: 3px solid #cd0000; }

input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

input::-moz-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

input:-ms-input-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

input:-moz-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

textarea::-webkit-input-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

textarea::-moz-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

textarea:-ms-input-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

textarea:-moz-placeholder {
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  color: #ababab; }

.select-wrap {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -khtml-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
  .select-wrap:before {
    position: absolute;
    content: '';
    width: 48px;
    height: 48px;
    right: 1px;
    top: 1px;
    background-color: #FBFBFB;
    cursor: pointer; }
  .select-wrap:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 24px;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #8F9F9E;
    cursor: pointer; }

select {
  min-height: 50px;
  width: 100%;
  padding: 12px 50px 12px 16px;
  color: #abb3ba;
  font-size: 18px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 1px solid #E1E3E2;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  letter-spacing: 0.8px;
  background-color: #FBFBFB; }
  select::selection {
    background: #ffb7b7;
    /* WebKit/Blink Browsers */ }
  select option {
    font-size: 18px;
    font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 300;
    color: #656f77; }

.navigationWrap {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  background: #cd0000;
  background: rgba(205, 0, 0, 0.9);
  z-index: 500; }

.navigationWedge {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden; }

.navigationWedge::before,
.navigationWedge:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  margin: 0 0 0 462px;
  background: #780000;
  -webkit-transform: skew(-40deg,0deg);
  -khtml-transform: skew(-40deg,0deg);
  -moz-transform: skew(-40deg,0deg);
  -ms-transform: skew(-40deg,0deg);
  -o-transform: skew(-40deg,0deg);
  transform: skew(-40deg,0deg); }

.siteLogo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 501; }
  .siteLogo img {
    display: block; }

.navigation {
  position: absolute;
  display: block;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 235px 0 363px;
  text-align: center;
  z-index: 500; }
  .navigation > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    list-style-type: none; }

.navigation > li > a,
.navigationRight {
  position: relative;
  display: block;
  padding: 28px 18px 24px;
  font-family: 'Mr Eaves Mod Bold', Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  letter-spacing: .1em;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.navigationRight {
  float: right;
  z-index: 502; }

.navigation > li > a::before,
.navigation > li > a:before,
.navigationRight::before,
.navigationRight:before {
  content: '';
  position: absolute;
  display: none;
  width: 0;
  height: 0;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff; }

.navigation > li:hover > a::before,
.navigation > li:hover > a:before,
.navigation > li > a:focus::before,
.navigation > li > a:focus:before,
.navigationRight:hover::before,
.navigationRight:hover:before,
.navigationRight:focus::before,
.navigationRight:focus:before {
  display: block; }

.footerWrap {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%; }

.homeBannerWrap + .footerWrap {
  margin: -11.5% 0 0 0; }

.footerPageWrap {
  position: relative;
  display: table;
  width: 100%;
  border: 0;
  border-collapse: collapse; }

.footerPage {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 50%;
  text-decoration: none;
  overflow: hidden; }

.footerPageContainer {
  position: relative;
  display: block;
  width: 100%; }
  .footerPageContainer .footerPageCTA {
    min-width: 307px;
    margin: 30px 0 0 2px;
    padding: 18px 70px 14px 34px; }

.footerPageWedge {
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transform: rotate(6.5deg);
  -moz-transform: rotate(6.5deg);
  transform: rotate(6.5deg);
  transform-origin: top left;
  overflow: hidden; }
  .footerPageWedge:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.68); }

.footerPageAlt .footerPageWedge {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-6.5deg);
  -moz-transform: rotate(-6.5deg);
  transform: rotate(-6.5deg);
  transform-origin: top right; }

.footerPageWedge img {
  position: absolute;
  display: block;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-6.5deg);
  -moz-transform: rotate(-6.5deg);
  transform: rotate(-6.5deg);
  transform-origin: top left; }

.footerPageAlt .footerPageWedge img {
  left: auto;
  right: 0;
  -webkit-transform: rotate(6.5deg);
  -moz-transform: rotate(6.5deg);
  transform: rotate(6.5deg);
  transform-origin: top right; }

.footerPageInner {
  position: relative;
  display: block;
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  padding: 300px 20px 200px 20px; }

.footerPageHeadline {
  position: relative;
  display: block;
  font-family: "Mr Eaves Mod Heavy", "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.13em;
  word-spacing: -0.06em;
  line-height: 1.14em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.footerPageCTA {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  width: auto;
  margin: 30px 0 0 0;
  padding: 18px 70px 18px 32px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  color: #fff;
  text-transform: uppercase;
  background: #cd0000;
  border: 2px solid #cd0000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerPageCTA::after, .footerPageCTA:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 30px;
  margin: -9px 0 0 0;
  border-top: 9px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 9px solid transparent;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerPageAlt .footerPageCTA {
  background: #383838;
  background: rgba(0, 0, 0, 0.4); }

.footerPage:hover .footerPageCTA,
.footerPage:focus .footerPageCTA {
  color: #cd0000;
  background: #fff; }

.footerPage:hover .footerPageCTA::after,
.footerPage:hover .footerPageCTA:after,
.footerPage:focus .footerPageCTA::after,
.footerPage:focus .footerPageCTA:after {
  border-left-color: #cd0000; }

.footerMainWrap {
  position: relative;
  display: block;
  width: 100%; }

.footerMainWrap .center {
  position: relative;
  display: table; }

.footerColumn {
  position: relative;
  display: table-cell;
  vertical-align: top;
  padding: 90px 100px 120px 0; }

.footerColumn:last-child {
  padding-right: 0; }

.footerHeading,
.footerHeadingSmall {
  position: relative;
  display: block;
  margin: 32px 0 2px 0;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  color: #323232;
  text-transform: uppercase; }

.footerHeadingSmall {
  font-size: 14px;
  line-height: 1.2em; }

.footerHeading a,
a.footerHeading,
.footerHeadingSmall a,
a.footerHeadingSmall {
  color: #323232;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerHeading a:hover,
.footerHeading a:focus,
a.footerHeading:hover,
a.footerHeading:focus,
.footerHeadingSmall a:hover,
.footerHeadingSmall a:focus,
a.footerHeadingSmall:hover,
a.footerHeadingSmall:focus {
  color: #cd0000; }

.footerContact {
  position: relative;
  display: block;
  font-family: "Soleil Regular", Arial, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #323232; }

.footerContact a,
a.footerContact {
  color: #323232;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerContact a:hover,
.footerContact a:focus,
a.footerContact:hover,
a.footerContact:focus {
  color: #cd0000; }

.footerSocialWrap {
  position: relative;
  display: block;
  font-size: 0; }

.footerSocial {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin: 14px 9px 0 0;
  background-color: #000;
  text-align: center;
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .footerSocial i {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff; }
  .footerSocial:hover, .footerSocial:focus {
    background-color: #cd0000; }

.footerSocialFB i {
  font-size: 15px; }

.footerSocialIN i {
  font-size: 18px; }

.footerSocialGP i {
  font-size: 12px; }

.footerNavLink {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: "Soleil Regular", Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  color: #323232;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerNavLink:hover,
.footerNavLink:focus {
  color: #cd0000; }

.footerCTA {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 230px;
  margin: 13px 0 0 0;
  padding: 16px 58px 16px 30px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1.5em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #cd0000;
  border: 2px solid #cd0000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerCTA::after,
.footerCTA:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 24px;
  margin: -9px 0 0 0;
  border-top: 9px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 9px solid transparent;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.footerCTA:hover,
.footerCTA:focus {
  color: #cd0000;
  background: #fff; }

.footerCTA:hover::after,
.footerCTA:hover:after,
.footerCTA:focus::after,
.footerCTA:focus:after {
  border-left-color: #cd0000; }

.copyrightWrap {
  position: relative;
  display: block;
  border-top: 1px solid #c5c5c5; }

.copyrightLeft {
  position: relative;
  display: block;
  float: left;
  font-size: 0;
  z-index: 1; }

.copyrightLeft a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 17px 27px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 0.13em;
  color: #323232;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.copyrightLeft a:first-child {
  padding-left: 0; }

.copyrightLeft a:hover,
.copyrightLeft a:focus {
  color: #cd0000; }

.copyrightLeft a::after,
.copyrightLeft a:after {
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  margin: 4px 0 0 17px;
  border-top: 8px solid transparent;
  border-left: 7px solid #cd0000;
  border-bottom: 8px solid transparent; }

.copyrightRight {
  position: relative;
  display: block;
  padding: 17px 0;
  font-family: "Mr Eaves Mod Reg", Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.09em;
  color: #a9a9a9;
  text-align: right;
  text-transform: uppercase; }

.copyrightRight a {
  color: #a9a9a9;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease; }

.copyrightRight a:hover,
.copyrightRight a:focus {
  color: #cd0000; }

/* styles used throughout site */
.homeBannerWrap {
  position: relative;
  display: table;
  width: 100%;
  top: -76px;
  padding-top: 80px;
  min-height: 500px;
  overflow: hidden; }
  .homeBannerWrap img {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.homeBannerContent {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: bottom;
  padding-bottom: 10%; }
  .homeBannerContent h1 {
    position: relative;
    display: block;
    padding-right: 50px;
    font-family: "Mr Eaves Mod Heavy", "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
    font-size: 124px;
    font-weight: 900;
    letter-spacing: .12em;
    line-height: .88em;
    color: #fff;
    text-transform: uppercase; }
  .homeBannerContent .center {
    max-width: 1080px; }

.homeBannerSubline {
  position: relative;
  display: block;
  padding: 10px 36px 0 0;
  text-align: right;
  font-family: "Mr Eaves Mod Book", Arial, Verdana, Tahoma, sans-serif;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: .11em;
  line-height: 1.2em;
  color: #fff;
  text-transform: uppercase; }

.section-title {
  margin-bottom: 39px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 0.12em;
  line-height: 1;
  text-transform: uppercase; }

.section-contact {
  position: relative;
  z-index: 10;
  padding-top: 155px;
  padding-bottom: 100px; }
  .section-contact .center {
    max-width: 1056px; }
  .section-contact .section-title {
    padding-left: 27px; }
  .section-contact a.btn, .section-contact .btn {
    text-transform: uppercase; }

.form-box {
  padding-top: 41px; }

.contact-box {
  margin-bottom: 70px;
  max-width: 320px; }

.contact-title {
  position: relative;
  display: block;
  margin-bottom: 3px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: 0.12em;
  text-transform: uppercase; }

.contact-info {
  font-family: "Soleil Regular", Arial, Verdana, Tahoma, sans-serif;
  font-size: 28px;
  line-height: 1.4em;
  letter-spacing: 0.01em; }
  .contact-info a {
    position: relative;
    color: #232323;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -khtml-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .contact-info a:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #BEBEBE;
      -webkit-transition: all .25s ease;
      -khtml-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .contact-info a:hover, .contact-info a:focus {
      color: #cd0000; }
      .contact-info a:hover:after, .contact-info a:focus:after {
        background-color: transparent; }
  .contact-info a[href^=tel]:after {
    content: none; }

.form-box label {
  margin-bottom: 6px;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.03em; }
.form-box a.btn, .form-box .btn {
  margin-left: 2px;
  min-width: 231px; }

.contact-page-list {
  overflow: hidden;
  padding-top: 32px; }
  .contact-page-list > li {
    float: left;
    width: 50%;
    padding: 0 27px;
    list-style-type: none; }
    .contact-page-list > li:last-child {
      padding: 0; }
    .contact-page-list > li .contact-box:first-child {
      margin-bottom: 32px; }
    .contact-page-list > li .contact-box:last-child {
      margin-bottom: 0;
      margin-top: -18px; }

.form-list > li {
  margin-bottom: 66px; }
  .form-list > li:last-child {
    padding-top: 16px;
    margin-bottom: 0; }

.form-btn-box {
  margin-top: 47px; }

.section-page-title {
  position: relative;
  margin-top: -76px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-page-title .center {
    position: relative;
    z-index: 20;
    display: table;
    min-height: 775px;
    padding-top: 80px;
    padding-bottom: 80px; }
    .section-page-title .center .center-box {
      display: table-cell;
      width: 100%;
      height: 80px;
      text-align: center;
      vertical-align: middle; }

.page-title {
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 89px;
  letter-spacing: 0.12em;
  line-height: 1;
  color: #ffffff;
  text-transform: uppercase; }

.bottom {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .bottom:before, .bottom:after {
    position: absolute;
    content: '';
    width: 51%;
    height: 19%;
    left: 0;
    bottom: 0;
    background-color: white; }
  .bottom:before {
    -webkit-transform: rotate(6.5deg);
    -khtml-transform: rotate(6.5deg);
    -moz-transform: rotate(6.5deg);
    -ms-transform: rotate(6.5deg);
    -o-transform: rotate(6.5deg);
    transform: rotate(6.5deg);
    -webkit-transform-origin: top left;
    -khtml-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left; }
  .bottom:after {
    right: 0;
    left: auto;
    -webkit-transform: rotate(-6.5deg);
    -khtml-transform: rotate(-6.5deg);
    -moz-transform: rotate(-6.5deg);
    -ms-transform: rotate(-6.5deg);
    -o-transform: rotate(-6.5deg);
    transform: rotate(-6.5deg);
    -webkit-transform-origin: top right;
    -khtml-transform-origin: top right;
    -moz-transform-origin: top right;
    -ms-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right; }

.section-welcome {
  overflow: hidden;
  padding-top: 76px;
  padding-bottom: 50px; }
  .section-welcome .section-title {
    margin-bottom: 9px; }

.left-box,
.right-box {
  overflow: hidden;
  float: left;
  width: 50%; }

.left-box {
  padding: 0 40px 0 29px; }

.right-box {
  padding: 24px 40px 0 170px; }
  .right-box .link-box:last-child {
    margin-bottom: 0; }

.link-box {
  margin-bottom: 70px;
  max-width: 410px; }
  .link-box ul > li a {
    position: relative;
    display: inline-block;
    padding: 5px 0;
    font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #232323;
    line-height: 1.3;
    text-decoration: none;
    -webkit-transition: all .25s ease;
    -khtml-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .link-box ul > li a:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 4px;
      background-color: #BEBEBE;
      -webkit-transition: all .25s ease;
      -khtml-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .link-box ul > li a:hover, .link-box ul > li a:focus {
      color: #cd0000; }
      .link-box ul > li a:hover:after, .link-box ul > li a:focus:after {
        background-color: transparent; }

.link-box-title {
  margin-bottom: 1px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 26px;
  letter-spacing: 0.12em;
  line-height: 1.3;
  text-transform: uppercase; }

a.right-arrow,
.right-arrow {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 17px 27px;
  font-family: "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 0.12em;
  color: #232323;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  a.right-arrow:after,
  .right-arrow:after {
    position: relative;
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 0;
    margin: 6px 0 0 18px;
    border-top: 10px solid transparent;
    border-left: 9px solid #cd0000;
    border-bottom: 10px solid transparent; }
  a.right-arrow:hover, a.right-arrow:focus,
  .right-arrow:hover,
  .right-arrow:focus {
    opacity: 1;
    color: #cd0000; }

.section-job-detail {
  padding-top: 173px;
  padding-bottom: 100px; }
  .section-job-detail .center {
    max-width: 1400px; }
  .section-job-detail .bnt-box {
    margin-top: 12px;
    margin-bottom: 56px; }
    .section-job-detail .bnt-box a {
      padding: 17px 32px; }
      .section-job-detail .bnt-box a:first-child {
        padding-left: 2px; }
  .section-job-detail a.btn, .section-job-detail .btn {
    margin-top: 54px;
    min-width: 306px; }
    .section-job-detail a.btn:after, .section-job-detail .btn:after {
      margin-right: 3px; }

.job-detail-box {
  max-width: 1000px; }

.job-detail-header-box {
  margin-bottom: 52px; }

.job-title {
  margin-bottom: 6px;
  font-family: "Soleil SemiBold", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 56px;
  letter-spacing: 0.04em;
  line-height: 1.2; }

.job-info {
  display: inline-block;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.02em; }

.location {
  position: relative;
  margin-left: 30px;
  color: #232323;
  text-decoration: none; }
  .location:before {
    position: absolute;
    content: '';
    width: 2px;
    height: 2px;
    left: -20px;
    top: 19px;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #232323; }
  .location:hover, .location:focus {
    color: #cd0000; }

.job-link {
  float: right;
  margin-top: -11px;
  margin-right: -2px; }

.section-projects {
  overflow: hidden; }
  .section-projects + .footerWrap {
    margin-top: -6%; }

.project-list > li {
  overflow: hidden;
  position: relative;
  float: left;
  width: 50%;
  height: 704px; }
  .project-list > li:nth-child(4n - 3) {
    width: 60.42%; }
  .project-list > li:nth-child(4n - 2) {
    width: 39.58%; }
    .project-list > li:nth-child(4n - 2) .project-box {
      padding-left: 88px;
      padding-right: 88px; }
  .project-list > li:nth-child(4n - 1) {
    width: 40%;
    height: 778px; }
  .project-list > li:nth-child(4n) {
    width: 60%;
    height: 778px;
    padding-left: 101px;
    padding-right: 101px; }
  .project-list > li:nth-last-child(1):nth-child(odd) {
    width: 100%;
    height: 896px; }
    .project-list > li:nth-last-child(1):nth-child(odd) .project-box {
      padding-left: 100px;
      padding-right: 100px; }
  .project-list > li:after {
    position: absolute;
    z-index: 11;
    content: '';
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    background: rgba(255, 93, 177, 0);
    background: -moz-linear-gradient(top, rgba(255, 93, 177, 0) 0%, black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 93, 177, 0)), color-stop(100%, black));
    background: -webkit-linear-gradient(top, rgba(255, 93, 177, 0) 0%, black 100%);
    background: -o-linear-gradient(top, rgba(255, 93, 177, 0) 0%, black 100%);
    background: -ms-linear-gradient(top, rgba(255, 93, 177, 0) 0%, black 100%);
    background: linear-gradient(to bottom, rgba(255, 93, 177, 0) 0%, black 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#000000', GradientType=0 );
    opacity: 0.63; }
  .project-list > li img {
    position: absolute;
    z-index: 10;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -khtml-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .25s ease;
    -khtml-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .project-list > li a {
    text-decoration: none; }
    .project-list > li a:hover .project-wrap, .project-list > li a:focus .project-wrap {
      background-color: rgba(205, 0, 0, 0.7); }
    .project-list > li a:hover .project-view-title, .project-list > li a:focus .project-view-title {
      opacity: 1; }
    .project-list > li a:hover img, .project-list > li a:focus img {
      -webkit-transform: translate(-50%, -50%) scale(1.2);
      -khtml-transform: translate(-50%, -50%) scale(1.2);
      -moz-transform: translate(-50%, -50%) scale(1.2);
      -ms-transform: translate(-50%, -50%) scale(1.2);
      -o-transform: translate(-50%, -50%) scale(1.2);
      transform: translate(-50%, -50%) scale(1.2); }
    .project-list > li a:hover .project-box, .project-list > li a:focus .project-box {
      opacity: 0; }

.project-wrap {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(205, 0, 0, 0);
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.project-view-title {
  position: absolute;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  top: 50%;
  left: 50%;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: 0.04em;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -khtml-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.project-box {
  position: absolute;
  z-index: 15;
  display: table;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 39px 79px 39px;
  color: #ffffff;
  -webkit-transition: all .25s ease;
  -khtml-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }

.project-cell {
  display: table-cell;
  width: 100%;
  height: 50px;
  vertical-align: bottom; }
  .project-cell .location {
    margin-left: 26px;
    font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 1.2;
    color: #ffffff; }
    .project-cell .location:before {
      width: 3px;
      height: 3px;
      left: -18px;
      top: 13px;
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      background-color: #ffffff; }

.project-title {
  position: relative;
  text-decoration: none;
  font-family: "Soleil ExtraBold", "Soleil Bold", "Soleil SemiBold", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 1.2; }
  .project-title:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: -29px;
    top: 0;
    border-top: 8px solid transparent;
    border-left: 7px solid #fff;
    border-bottom: 8px solid transparent; }

.project-desc {
  display: block;
  font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.02em;
  max-width: 220px;
  line-height: 1.7;
  text-decoration: none; }

.submenu-overlay {
  display: none;
  overflow: auto;
  position: fixed;
  z-index: 600;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(202, 0, 0, 0.97); }
  .submenu-overlay .close-overlay {
    overflow: hidden;
    position: absolute;
    top: 53px;
    right: 106px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer; }
    .submenu-overlay .close-overlay:after, .submenu-overlay .close-overlay:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      width: 67px;
      height: 3px;
      background-color: #ffffff; }
    .submenu-overlay .close-overlay:after {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -khtml-transform: translate(-50%, -50%) rotate(45deg);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg); }
    .submenu-overlay .close-overlay:before {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -khtml-transform: translate(-50%, -50%) rotate(-45deg);
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -o-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg); }
  .submenu-overlay .subnav {
    display: block; }
  .submenu-overlay .left-box {
    text-align: left;
    padding: 0 10px 0 88px; }
  .submenu-overlay .right-box {
    padding: 15px 0 0 107px;
    text-align: left; }
    .submenu-overlay .right-box a.btn, .submenu-overlay .right-box .btn {
      margin-top: 34px;
      min-width: 307px; }
      .submenu-overlay .right-box a.btn:after, .submenu-overlay .right-box .btn:after {
        margin-right: 8px; }

.submenu-box {
  display: table;
  width: 100%;
  height: 100%;
  padding: 140px 10px 140px; }

.submenu-cell {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: middle; }

.subnav-title {
  display: block;
  margin-bottom: 34px;
  padding-left: 90px;
  text-align: left;
  font-family: "Mr Eaves Mod Heavy", "Mr Eaves Mod Bold", Arial, Verdana, Tahoma, sans-serif;
  font-size: 23px;
  letter-spacing: .11em;
  color: #ffffff;
  text-transform: uppercase; }

.subnav {
  padding: 1px 0; }
  .subnav > li a {
    position: relative;
    display: inline-block;
    padding: 9px 44px 9px 0;
    font-family: "Soleil Light", Arial, Verdana, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 44.5px;
    line-height: 1.2;
    letter-spacing: .02em;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all .25s ease;
    -khtml-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    .subnav > li a:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      top: 31px;
      right: 0;
      border-top: 11px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 11px solid transparent;
      -webkit-transition: all .25s ease;
      -khtml-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .subnav > li a:hover, .subnav > li a:focus {
      margin-left: 27px; }

/*--------------------------------------MEDIA-----------------------------------------*/
@media all and (max-width: 1920px) {
  .section-page-title .center {
    min-height: 600px; } }
@media all and (max-width: 1400px) {
  .project-list > li {
    height: 500px; }
    .project-list > li:nth-child(4n - 3) {
      width: 60%; }
    .project-list > li:nth-child(4n - 2) {
      width: 40%;
      padding-left: 79px;
      padding-right: 79px; }
    .project-list > li:nth-child(4n - 1) {
      width: 40%;
      height: 528px; }
    .project-list > li:nth-child(4n) {
      width: 60%;
      height: 528px;
      padding-left: 79px;
      padding-right: 79px; }
    .project-list > li:nth-last-child(1):nth-child(odd) {
      width: 100%;
      height: 636px; }
      .project-list > li:nth-last-child(1):nth-child(odd) .project-box {
        padding-left: 100px;
        padding-right: 100px; }

  .submenu-box {
    padding: 80px 10px 80px; }

  .submenu-overlay .close-overlay {
    top: 10px;
    right: 10px; } }

/*# sourceMappingURL=screen.css.map */
