a.btn, .btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 230px;
  margin-left: 2px;
  padding: 18px 35px 14px 30px;
  font-family: $font-mem-bold;
  font-size: 18px;
  font-weight: $bold;
  line-height: 1.5em;
  letter-spacing: $letter-spacing-100;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #cd0000;
  border: 2px solid #cd0000;
  @include css3-prefix('transition', 'all .25s ease');
  outline: none;
  text-align: left;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    right: 24px;
    margin: -9px 0 0 0;
    border-top: 9px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 9px solid transparent;
    @include css3-prefix('transition', 'all .25s ease');
  }
  &:hover,
  &:focus {
    color: #cd0000;
    background: #fff;
    &:after {
      border-left-color: #cd0000;
    }
  }
}
.jumpToContent {
  position: absolute;
  display: block;
  width: 300px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px 15px;
  font-family: $font-mem-bold;
  font-size: 20px;
  color: #333;
  text-align: center;
  text-decoration: none;
  background: #fff;
  z-index: -9999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: 0;
  &:focus {
    opacity: 1;
    z-index: 9999;
  }
}