/*header */
//.mobile-menu-wrap {
//  position: fixed;
//  z-index: 99999;
//  right: 0;
//  height: 0;
//  width: 0;
//  top: 0;
//  @include css3-prefix('transition-delay', $transition-other);
//  &.showing {
//    height: 100%;
//    width: 100%;
//    @include css3-prefix('transition-delay', '0s');
//  }
//}
//.mobile-menu-overlay {
//  position: absolute;
//  z-index: 1;
//  right: 0;
//  width: 100%;
//  height: 100%;
//  background-color: rgba(0,0,0,0.25);
//  opacity: 0;
//  @include css3-prefix('transition', 'opacity '$transition-other);
//  .showing & {
//    opacity: 1;
//  }
//}
//.mobile-menu-box {
//  position: absolute;
//  overflow: auto;
//  width: 370px;
//  max-width: 80%;
//  height: 100%;
//  right: -400px;
//  z-index: 2;
//  padding-top: 60px;
//  //@include bg_gradient();
//  @include css3-prefix('transition', 'right '$transition-other);
//  @include css3-prefix('box-shadow', '-10px 10px 30px rgba(0,0,0,0.2)');
//  .showing & {
//    right: 0;
//  }
//}
//
//.mobile-menu-toggle {
//  position: absolute;
//  right: -1px;
//  top: 0;
//  height: 65px;
//  width: 65px;
//  vertical-align: middle;
//  cursor: pointer;
//  font-size: 26px;
//  span:before,
//  span:after,
//  span {
//    position: absolute;
//    display: block;
//    content: '';
//    cursor: pointer;
//    height: 3px;
//    width: 30px;
//    background-color: $color-text3;
//    @include border-radius(2px);
//    @include css3-prefix('transition', 'all '$transition-other);
//  }
//  span {
//    z-index: 999999;
//    left: 50%;
//    top: 50%;
//    @include css3-prefix('transform', 'translate(-50%, -50%)');
//  }
//  span:before {
//    top: -9px;
//  }
//  span:after {
//    bottom: -9px;
//  }
//  &.active span {
//    background-color: transparent;
//  }
//  &.active span:before {
//    @include css3-prefix('transform', 'rotate(45deg)');
//    top: 0;
//    background-color: rgba(247, 185, 64, 1);
//  }
//  &.active span:after {
//    @include css3-prefix('transform', 'rotate(-45deg)');
//    bottom: 0;
//    background-color: rgba(247, 185, 64, 1);
//  }
//}
.mobile-menu-toggle,
.mobile-menu-wrap {
  display: none;
}

/*careers*/
.hide-content {
  display: none;
}
.promotions-box {
  max-width: 280px;
  min-width: 260px;
}
.promotions-desc {
  padding: 0 10px;
  font-family: $font-s-light;
  font-weight: $light;
  font-size: 18px;
  line-height: 1.35;
  letter-spacing: .02em;
  text-align: center;
}
.promotions-list {
  float: right;
  margin: 0 -40px;
  > li {
    display: inline-block;
    max-width: 360px;
    min-width: 340px;
    padding: 0 40px;
    vertical-align: top;
  }
}
.circle-bar {
  position: relative;
  display: block;
  width: 260px;
  height: 260px;
  margin: 0 auto 28px;
}
.circle-value {
  position: absolute;
  display: block;
  //z-index: 200;
  //left: 0;
  //right: 0;
  top: 50%;
  left: 50%;
  margin-top: 5px;
  font-family: $font-mem-heavy;
  font-size: 60px;
  font-weight: 600;
  color: $red;
  letter-spacing: 0.02em;
  @include transform();
}
.cpb-main {
  @include css3-prefix('transition', 'stroke-dashoffset 2s ease-in-out');
  @include css3-prefix('animation-play-state', 'running');
  //-webkit-animation-play-state: running;
}
.cpb-second {
  @include css3-prefix('transition', 'stroke-dashoffset 3s ease-in-out');
  @include css3-prefix('animation-play-state', 'running');
  //-webkit-animation-play-state: running;
}
.cpb-third {
  @include css3-prefix('transition', 'stroke-dashoffset 4s ease-in-out');
  @include css3-prefix('animation-play-state', 'running');
  //-webkit-animation-play-state: running;
}
.progress-svg {
  transform: rotate(0deg);
}
.retention-box {
  max-width: 355px;
  text-align: center;
  &:not(.show){
    .progress {
      width: 0 !important;
    }
  }
}
.progress-line {
  .line {
    .progress {
      @include css3-prefix('transition', 'all 2s ease-in-out');
    }
  }
}
/*footer */
.footerWrap {
  z-index: 10;
}
.footer-mobile-box {
  display: none;
  .center {
    padding: 0 10px;
  }
}
.full-site {
  display: none;
}
