.footerWrap {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
}
.homeBannerWrap + .footerWrap {
  margin-top: -205px;

}
.footerPageWrap {
  position: relative;
  display: table;
  width: 100%;
  border: 0;
  border-collapse: collapse;
}
.footerPage {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 50%;
  text-decoration: none;
  overflow: hidden;
}
.footerPageContainer {
  position: relative;
  display: block;
  width: 100%;
  .footerPageCTA {
    min-width: 307px;
    margin: 30px 0 0 2px;
    padding: 18px 70px 14px 34px;
  }
}
.footerPageWedge {
  position: absolute;
  display: block;
  width: 120%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.1);
  overflow: hidden;
  -webkit-transform: rotate(6.5deg);
  -moz-transform: rotate(6.5deg);
  transform: rotate(6.5deg);
  transform-origin: top left;
  overflow: hidden;
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.68);
  }
}
.footerPageAlt .footerPageWedge {
  left: auto;
  right: 0;
  -webkit-transform: rotate(-6.5deg);
  -moz-transform: rotate(-6.5deg);
  transform: rotate(-6.5deg);
  transform-origin: top right;
}
.footerPageWedge img {
  position: absolute;
  display: block;
  min-width: 100%;
  width: auto;
  min-height: 100%;
  height: auto;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-6.5deg);
  -moz-transform: rotate(-6.5deg);
  transform: rotate(-6.5deg);
  transform-origin: top left;
}
.footerPageAlt .footerPageWedge img {
  left: auto;
  right: 0;
  -webkit-transform: rotate(6.5deg);
  -moz-transform: rotate(6.5deg);
  transform: rotate(6.5deg);
  transform-origin: top right;
}
.footerPageInner {
  position: relative;
  display: block;
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  padding: 300px 20px 200px 20px;
}
.footerPageHeadline {
  position: relative;
  display: block;
  font-family: $font-mem-heavy;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: 0.13em;
  word-spacing: -0.06em;
  line-height: 1.14em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 450px;
}
.footerPageCTA {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 300px;
  width: auto;
  margin: 30px 0 0 0;
  padding: 18px 70px 18px 32px;
  font-family: $font-mem-bold;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: $letter-spacing-100;
  line-height: 1.5em;
  color: #fff;
  text-transform: uppercase;
  background: #cd0000;
  border: 2px solid #cd0000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerPageCTA::after, .footerPageCTA:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 30px;
  margin: -9px 0 0 0;
  border-top: 9px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 9px solid transparent;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerPageAlt .footerPageCTA {
  background: #383838;
  background: rgba(0,0,0,.4);
}
.footerPage:hover .footerPageCTA,
.footerPage:focus .footerPageCTA {
  color: #cd0000;
  background: #fff;
}
.footerPage:hover .footerPageCTA::after,
.footerPage:hover .footerPageCTA:after,
.footerPage:focus .footerPageCTA::after,
.footerPage:focus .footerPageCTA:after {
  border-left-color: #cd0000;
}
.footerMainWrap {
  position: relative;
  display: block;
  width: 100%;
  background-color: $white;
}
.footerMainWrap .center {
  position: relative;
  display: block;
  padding-top: 90px;
  padding-bottom: 123px;
  max-width: 1384px;
  //border-collapse: collapse;
}
.footerColumn {
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  width: 100%;
  //padding: 90px 100px 120px 0;
  &:nth-child(1) {
    padding-left: 25px;
    max-width: 346px;
  }
  &:nth-child(2) {
    max-width: 264px;
  }
  &:nth-child(3) {
    max-width: 209px;
  }
  &:nth-child(4) {
    max-width: 220px;
  }
  &:nth-child(5) {
    float: right;
    max-width: 230px;
    margin-right: 10px;
    padding-right: 0;
  }
}

.footerHeading,
.footerHeadingSmall {
  position: relative;
  display: block;
  margin: 31px 0 2px 0;
  font-family: $font-mem-bold;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2em;
  letter-spacing: $letter-spacing-100;
  color: #323232;
  text-transform: uppercase;
}
.footerHeadingSmall {
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.2em;
  &:first-child {
    margin-top: 32px;
  }
}
.footerHeading a,
a.footerHeading,
.footerHeadingSmall a,
a.footerHeadingSmall {
  color: #323232;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerHeading a:hover,
.footerHeading a:focus,
a.footerHeading:hover,
a.footerHeading:focus,
.footerHeadingSmall a:hover,
.footerHeadingSmall a:focus,
a.footerHeadingSmall:hover,
a.footerHeadingSmall:focus {
  color: #cd0000;
}
.footerContact {
  position: relative;
  display: block;
  font-family: $font-s-reg;
  font-size: 20px;
  line-height: 1.4em;
  letter-spacing: .01em;
  color: #323232;
}
.footerContact a,
a.footerContact {
  color: #323232;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerContact a:hover,
.footerContact a:focus,
a.footerContact:hover,
a.footerContact:focus {
  color: #cd0000;
}
.footerSocialWrap {
  position: relative;
  display: block;
  font-size: 0;
}
.footerSocial {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  margin: 14px 9px 0 0;
  background-color: #000;
  text-align: center;
  @include css3-prefix('transition', 'all .25s ease');
  i {
    font-size: 14px;
    line-height: 24px;
    color: $white;
  }
  &:hover,
  &:focus {
      background-color: $red;
  }
}
.footerSocialFB {
  i {
    font-size: 15px;
  }
}
.footerSocialIN {
  i {
    font-size: 18px;
  }
}
.footerSocialGP {
  i {
    font-size: 12px;
  }
}
.footerNavLink {
  position: relative;
  display: block;
  padding: 4px 0;
  font-family: $font-s-reg;
  font-size: 16px;
  line-height: 1.25em;
  letter-spacing: .01em;
  color: #323232;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerNavLink:hover,
.footerNavLink:focus {
  color: #cd0000;
}
.footerCTA {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 230px;
  margin: 14px 0 0 0;
  padding: 17px 58px 14px 30px;
  font-family: $font-mem-bold;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background: #cd0000;
  border: 2px solid #cd0000;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerCTA::after,
.footerCTA:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 24px;
  margin: -9px 0 0 0;
  border-top: 9px solid transparent;
  border-left: 8px solid #fff;
  border-bottom: 9px solid transparent;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.footerCTA:hover,
.footerCTA:focus {
  color: #cd0000;
  background: #fff;
}
.footerCTA:hover::after,
.footerCTA:hover:after,
.footerCTA:focus::after,
.footerCTA:focus:after {
  border-left-color: #cd0000;
}
.copyrightWrap {
  position: relative;
  display: block;
  border-top: 1px solid #c5c5c5;
  background-color: $white;
  .center {
    max-width: 1384px;
  }
}
.copyrightLeft {
  position: relative;
  display: block;
  float: left;
  font-size: 0;
  z-index: 1;
  padding-left: 25px;
}
.copyrightLeft a {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 17px 27px;
  font-family: $font-mem-bold;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.5em;
  letter-spacing: 0.13em;
  color: #323232;
  text-decoration: none;
  text-transform: uppercase;
  @include css3-prefix('transition', 'all .25s ease');
}
.copyrightLeft a:first-child {
  padding-left: 0;
}
.copyrightLeft a:hover,
.copyrightLeft a:focus {
  color: #cd0000;
}
.copyrightLeft a::after,
.copyrightLeft a:after {
  content: '';
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 0;
  height: 0;
  margin: 4px 0 0 17px;
  border-top: 8px solid transparent;
  border-left: 7px solid #cd0000;
  border-bottom: 8px solid transparent;
}
.copyrightRight {
  position: relative;
  display: block;
  padding: 17px 0;
  font-family: $font-mem-reg;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.09em;
  word-spacing: -0.03em;
  color: #a9a9a9;
  text-align: right;
  text-transform: uppercase;
}
.copyrightRight a {
  color: #a9a9a9;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
.copyrightRight a:hover,
.copyrightRight a:focus {
  color: #cd0000; }

.anchor-footer-box {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  a {
    float: left;
    width: 50%;
    font-size: 30px;
    text-decoration: none;
    color: $white;
    line-height: 1.4;
  }
}


.footer-top-list {
  overflow: hidden;
  > li {
    position: relative;
    float: left;
    width: 50%;
  }
}
  .footer-box {
    overflow: hidden;
    position: relative;
    .footerPageCTA {
      min-width: 306px;
      width: auto;
      margin: 30px 0 0 3px;
      padding: 19px 70px 15px 32px;
      &:after {
        margin: -9px -4px 0 0;
      }
    }
    &.left {

    }
    &.right {
      .footerPageCTA {
        background: rgba(0, 0, 0, 0.4);
        &:after {
          border-left-color: $white;
        }
      }
      &:hover,
      &:focus {
        .footerPageCTA {
          color: #cd0000;
          background: #fff;
          &:after {
            border-left-color: #cd0000;
          }
        }
      }
    }
    a {
      position: relative;
      z-index: 100;
      display: block;
      text-decoration: none;
      &.anchor:hover,
      &.anchor:focus {
        .anchor-box-overlay {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
      &:hover,
      &:focus {
        .footerPageCTA {
          color: #cd0000;
          background: #fff;
        }
        .footer-table {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
  .anchor-box {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    padding: 58px 20px 32px;
    min-height: 156px;
    .footer-box.left & {
      text-align: left;
    }
    .footer-box.right & {
      text-align: right;
      padding-right: 155px;
    }
    a.down-arrow, .down-arrow {
      z-index: 100;
      color: $white;
      padding: 17px 47px 17px 132px;
    }
    .anchor-box-overlay {
      position: absolute;
      z-index: 90;
      width: 120%;
      height: 100%;
      top: 0;
      background-color: rgba(0, 0, 0, 0);
      @include css3-prefix('transition', 'all .25s ease');
      .footer-box.left & {
          left: 0;
          @include css3-prefix('transform', 'rotate(6.5deg)');
          transform-origin: top left;
      }
      .footer-box.right & {
          right: 0;
          @include css3-prefix('transform', 'rotate(-6.5deg)');
          transform-origin: top right;
      }
    }
  }

  .footer-table {
    position: relative;
    z-index: 100;
    display: table;
    min-height: 600px;
    height: 668px;
    width: 100%;
    padding: 50px 20px 50px;
    @include css3-prefix('transition', 'all .25s ease');
    .footer-box.right & {
      padding-left: 130px;
    }
  }
    .footer-cell {
      display: table-cell;
      width: 100%;
      height: 100px;
      padding-bottom: 36px;
      vertical-align: middle;
    }
  .footer-img-box {
    position: absolute;
    z-index: 90;
    width: 120%;
    height: 100%;
    top: 0;
    overflow: hidden;
    &:after {
      position: absolute;
      z-index: 95;
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.68);
    }
    img {
      position: absolute;
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      top: 0;
    }
    .footer-box.left & {
      left: 0;
      @include css3-prefix('transform', 'rotate(6.5deg)');
      transform-origin: top left;
      img {
        left: 0;
        @include css3-prefix('transform', 'rotate(-6.5deg)');
        transform-origin: top left;
      }
    }
    .footer-box.right & {
      right: 0;
      @include css3-prefix('transform', 'rotate(-6.5deg)');
      transform-origin: top right;
      img {
        right: 0;
        @include css3-prefix('transform', 'rotate(6.5deg)');
        transform-origin: top right;
      }
    }
  }
  .footer-cell-content {
    max-width: 650px;
    margin: 0 auto;
  }

body:not(.home) {
  .anchor {
    display: none;
  }
  .footer-table {
    height: 824px;
  }
  .footer-box a:hover .footer-table,
  .footer-box a:focus .footer-table {
    background-color: rgba(0, 0, 0, 0);
  }
}