.input-wrap {
  position: relative;
  padding-top: 12px;
}

label {
  position: absolute;
  display: block;
  font-size: 12px;
  font-family: $font-s-light;
  font-weight: $light;
  line-height: 1.2;
  letter-spacing: 0.02em;
  opacity: 0;
  @include transition($transition-other);
  &:not(.show) {
    bottom: 0;
    left: 0;
  }
  &.show {
    top: -5px;
    bottom: auto;
    opacity: 1;
  }
}
.input-style:focus + label {
  top: -5px;
  bottom: auto;
  opacity: 1;
}

.input-style {
  display: block;
  width: 100%;
  margin: 0;
  min-height: 39px;
  font-size: 18px;
  font-family: $font-s-ex-bold;
  font-weight: $ex-bold;
  color: #232323;
  border: none;
  border-bottom: 2px solid #010101;
  @include border-radius(0);
  padding: 6px 0;
  background-color: transparent;
  @include transition($transition-other);
  &:focus {
    padding-bottom: 5px;
    border-bottom: 3px solid #cd0000;
  }
  &.wpcf7-not-valid,
  &.error {
    border-color: #ff0000;
  }
  //textarea.& {
  //  border: 2px solid #010101;
  //}
}
.input-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #232323;
}
textarea.input-style {
  line-height: 1.5;
  padding: 14px 18px;
  min-height: 150px;
  resize: none;
  border: 2px solid #010101;
  &:focus {
    padding: 13px 17px;
    border: 3px solid #cd0000;
  }
}
input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
input::-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;
}
input:-ms-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
input:-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}

textarea::-webkit-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
textarea::-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
textarea:-ms-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
textarea:-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}

.select-wrap {
  position:relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  &:before {
    position: absolute;
    content: '';
    width: 22px;
    height: 37px;
    right: 0px;
    top: 0px;
    background-color: #ffffff;
    cursor: pointer;
  }
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0px;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #cd0000;
    cursor: pointer;
  }
}
select {
  min-height: 39px;
  width: 100%;
  padding: 6px 50px 6px 0;
  color: #ababab;
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  border: none;
  border-bottom: 2px solid #010101;
  @include border-radius(0);
  letter-spacing: 0.02em;
  background-color: #ffffff;
  &:focus,
  &:hover {
    //  border-bottom: 2px solid $bg-color-blue;
  }
  &::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }
  option {
    font-size: 18px;
    font-family: $font-s-light;
    font-weight: $light;
    color: #232323;
    //&:checked {
    //    color: #131617;;
    //}
    &:disabled {
      color: #d3d3d3;
    }
  }
  &.check {
    font-family: $font-s-ex-bold;
    font-weight: $ex-bold;
    color: #232323
  }
}
