.input-wrap {
  position: relative;
  padding-top: 15px;
}

label {
  position: absolute;
  display: block;
  font-size: 12px;
  font-family: $font-s-light;
  font-weight: $light;
  line-height: 1.2;
  letter-spacing: 0.02em;
  opacity: 0;
  @include transition($transition-other);
  &:not(.show) {
    bottom: 0;
    left: 0;
  }
  &.show {
    top: -2px;
    bottom: auto;
    opacity: 1;
  }
}
.input-style:focus + label {
  top: -2px;
  bottom: auto;
  opacity: 1;
}

.input-style {
  display: block;
  width: 100%;
  margin: 0;
  min-height: 39px;
  font-size: 18px;
  font-family: $font-s-ex-bold;
  font-weight: $ex-bold;
  color: #232323;
  border: none;
  border-bottom: 2px solid #010101;
  @include border-radius(0);
  padding: 6px 0;
  background-color: transparent;
  @include transition($transition-other);
  &:focus {
    padding-bottom: 5px;
    border-bottom: 3px solid #cd0000;
  }
  &.wpcf7-not-valid,
  &.error {
    border-color: #ff0000;
  }
  //textarea.& {
  //  border: 2px solid #010101;
  //}
}
.input-name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #232323;
}
textarea.input-style {
  line-height: 1.5;
  padding: 14px 18px;
  min-height: 150px;
  resize: none;
  border: 2px solid #010101;
  &:focus {
    padding: 13px 17px;
    border: 3px solid #cd0000;
  }
}
input::-webkit-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
input::-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;
}
input:-ms-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
input:-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}

textarea::-webkit-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
textarea::-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
textarea:-ms-input-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}
textarea:-moz-placeholder {
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  color: #ababab;

}

.select-wrap {
  position:relative;
  display: inline-block;
  max-width: 100%;
  width: 100%;
  &:before {
    position: absolute;
    content: '';
    width: 22px;
    height: 36px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    cursor: pointer;
  }
  &:after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #cd0000;
    cursor: pointer;
  }
}
select {
  min-height: 39px;
  width: 100%;
  padding: 6px 50px 6px 0;
  color: #ababab;
  font-size: 18px;
  font-family: $font-s-light;
  font-weight: $light;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  border: none;
  border-bottom: 2px solid #010101;
  @include border-radius(0);
  letter-spacing: 0.02em;
  background-color: #ffffff;
  &:focus{
    border-color: $red;
    border-width: 3px;
  }
  &::selection {
    background: #ffb7b7; /* WebKit/Blink Browsers */
  }
  option {
    font-size: 18px;
    font-family: $font-s-light;
    font-weight: $light;
    color: #232323;
    //&:checked {
    //    color: #131617;;
    //}
    &:disabled {
      color: #d3d3d3;
    }
  }
  &.check {
    font-family: $font-s-ex-bold;
    font-weight: $ex-bold;
    color: #232323
  }
}

.check-style {
  //min-height: 19px;
}

.check-style input[type=checkbox],
.radio-style input[type=radio] {
  display: none;
}
.check-style span {
  position: relative;
  display: inline-block;
  padding-left: 35px;
  line-height: 1.3;
  font-family: $font-s-light;
  font-weight: $light;
  font-size: 18px;
  letter-spacing: 0.02em;
}
.check-style span:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #757575;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  color: #757575;
  font: normal normal normal 18px/20px FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  background: #ffffff;
}
.check-style input[type=checkbox]:checked + span:before {
  content: '\f00c';
}
.radio-name {
  display: block;
  font-family: $font-s-light;
  font-weight: $light;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 1.3;
  margin-bottom: 22px;
}
.radio-btn {
  display: inline-block;
  min-width: 67px;
  margin-right: 14px;
  margin-left: 2px;
  padding: 7px 10px 7px;
  text-align: center;
  font-family: $font-mem-heavy;
  font-weight: $heavy;
  font-size: 20px;
  letter-spacing: 0.1em;
  line-height: 1.2;
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  cursor: pointer;
  @include css3-prefix('transition', 'all .25s ease');
  &:hover {
    color: $white;
    background-color: #57A800;
    border-color: #57A800;
  }
}
//.radio-style span:before {
//  content: '';
//  position: absolute;
//  top: 50%;
//  margin-top: -13px;
//  left: 0;
//  display: inline-block;
//  width: 67px;
//  height: 41px;
//  border: 2px solid #CDCDCD;
//  cursor: pointer;
//  color: #0097de;
//  font: normal normal normal 17px/20px FontAwesome;
//  text-rendering: auto;
//  -webkit-font-smoothing: antialiased;
//  text-align: center;
//  background: #ffffff;
//  letter-spacing: 1px;
//}
//.radio-style input[type=radio]:checked + span:before {
//  content: '\f111';
//}
