/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
//html,body                       { width:100%; height:100%; }
//body                            { padding:0; margin:0; @include font(); background: $color-bg1; color: $color-text;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}
//div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
//  padding:0;
//  margin:0;
//  outline:none;
//  list-style:none;
//}
//select, input, textarea        { font-size:$size-small; vertical-align:middle; color:$color-text2; }
//textarea                       { vertical-align:top; }
//:focus                         { outline:none; }
//input[type=submit], button     { cursor:pointer; }
//img, fieldset                  { border:0; }
//table                          { border-collapse:collapse; border-spacing:0; }
//a:link, a:visited              { font-family: $font-main; color: $color-text3; text-decoration:none; }
//a:hover                        { text-decoration:underline; }
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
p { -webkit-margin-before: 0; -webkit-margin-after: 0; }
a { cursor: pointer; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: none; }
a[href^=tel], a[href^=sms], p a[href^=tel], p a[href^=sms] { color: inherit !important; text-decoration: none !important; cursor: default; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
h1, h2, h3, p { font-weight: normal; -webkit-margin-before: 0; -webkit-margin-after: 0; }
ol, ul, li { list-style-type: none; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], input[disabled] { cursor: default; }
input, textarea { outline: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
input, textarea, select { outline: none; }
.clear { display: block; height: 0; overflow: hidden; clear: both; }
.center { position: relative; max-width: 1340px; width: 100%; margin: 0 auto;}
.centerContent { text-align: center; }
.nowrap { white-space: nowrap; }
.floatLeft { float: left; }
.floatRight { float: right; }
html { width: 100%; height: 100%; font-family: Tahoma, Arial, sans-serif; font-size: 14px; line-height: 16px; color: #232323; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { width: 100%; height: 100%; }
#mfPreviewBar { display: none; }


.center { max-width: 1360px; padding: 0 10px; }
.fullWrap { overflow: hidden; padding-top: 76px; }
.disable-scroll {
  overflow: hidden !important;
  .siteLogo {
    z-index: 500;
  }
  .navigationRight {
    z-index: 499;
  }
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
//.float-r           	           { float:right !important; }
//.float-l                       { float:left !important; }
//.no-float                      { float:none !important; }
//.no-border                     { border:0 !important; }
//.no-bg                         { background:none !important; }
//.no-margin                     { margin:0 !important; }
//.no-padding                    { padding:0 !important; }
//.no-display                    { display:none !important; }
//.display                       { display:block !important; }
//.inline                        { display:inline !important; }
//.overflow                      { overflow:hidden !important; }
//.align-r                       { text-align:right !important; }
//.align-l                       { text-align:left !important; }
//.align-c                       { text-align:center !important; }
//.clear                         { clear:both; }
//
//* {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box;
//}
//em, i {
//  font-style: italic;
//}
//strong, b {
//  font-weight: $bold;
//}
//a, .btn {
//  @include transition($transition-link);
//}
//img {
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -o-user-select: none;
//  -khtml-user-select: none;
//  user-select: none;
//}
//.container {
//  max-width: 1240px;
//  width: 100%;
//  margin: 0 auto;
//  padding: 0 20px;
//}
//.vertical-align {
//  .container {
//    display: table;
//    width: 100%;
//    height: 494px;
//    padding-top: 50px;
//    padding-bottom: 50px;
//  }
//  .container-box {
//    display: table-cell;
//    width: 100%;
//    min-height: 50px;
//    vertical-align: middle;
//  }
//}
//
.content {
  font-family: $font-s-light;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.89;
  letter-spacing: 0.02em;
  .inverse & {
    color: $white;
  }
  * {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 2px;
    font-family: $font-s-bold;
    font-size: 34px;
    font-weight: $bold;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  h2 { font-size: 30px; }
  h3 { font-size: 28px; }
  h4, h5, h6 { font-size: 26px; }
  a {
    color: $color-text3;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  b, strong {
    font-family: $font-s-semi;
    font-weight: $bold;
    letter-spacing: 0.03em;
  }
  ul {
    margin-bottom: 36px;
    > li {
      position: relative;
      padding-left: 40px;
      &:before {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        left: 20px;
        top: 9px;
        @include border-radius(50%);
        background-color: $red;
      }
    }
  }
  ol {
    margin-bottom: 36px
  }
  li {
    margin-bottom: 11px;
    line-height: 1.2;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
  }
  blockquote {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  img {
    max-width: 100%;
    height: auto;
    &.alignleft {
      float: left;
      margin: 4px 12px 12px 0;
    }
    &.alignright {
      float: right;
      margin: 4px 0 12px 12px;
    }
    &.aligncenter{
      display: block;
      margin: 0 auto 12px;
      clear: both;
    }
  }
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
//.wrapper {
//  position: relative;
//  min-height: 100%;
//  margin-bottom: -130px;
//  &:after {
//    content: '';
//    display: block;
//    width: 100%;
//    height: 130px;
//  }
//}